body{ background:#f0f0f0}
.head{ background:#069}
.submit { margin: .48rem .26rem 0 }
.submit button { width: 100%; height: 1.26rem; border: 1px solid #069; border-radius: 5px; color: #fff; background-color: #069; text-align: center; font-size: .4rem }
