.u-header {
    position: relative;
    z-index: 110;
    width: 100%;
    height: 44px;
    padding: 0;
    font-size: 18px;
    line-height: 44px;
    color: #555;
    text-align: center;
    background: #fbfbfa;
    overflow: hidden;
}
.clearfix {
    zoom: 1;
    clear: both;
}
.u-header:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #dedede;
    -webkit-transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    pointer-events: none;
}
.f-left {
    float: left;
}
.u-hd-left a, .u-hd-right a {
    display: block;
    padding: 0 5px 0px 5px;
}
.i-hd-back {
    width: 11px;
    height: 19px;
    margin-top: 14px;
    background-position: -75px -25px;
}
.i-hd-back, .i-hd-cart, .i-hd-history, .i-hd-home, .i-hd-logn, .i-hd-reddot, .i-hd-search {
    display: block;
}
.u-icon-px {
    display: inline-block;
    background: url(../img/return.png) no-repeat center center;
    background-size: 15px;
}
.u-icon-m {
    display: inline-block;
    background: url(../img/m.png) no-repeat center center;
    background-size: 16px;
}
.u-hd-tit {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: .88rem;
    text-align: center;
    pointer-events: none;
}
.u-hd-nav, .u-hd-tit span {
    display: inline-block;
    width: 220px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}
.g-box {
    display: box;
    display: -moz-box;
    display: -o-box;
    display: -webkit-box;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.mlist_nav {
    width: 100%;
    border-left: 0;
    border-right: 0;
    overflow: hidden;
    background-color: #FFF;
    padding: 0;
    margin-top: 0;
}
.mlist_nav span.cur {
    border-bottom: 1px solid #EA0A0A;
}
.mlist_nav span.cur a{
    color: #EA0A0A;
}
.mlist_nav span {
    display: block;
    height: 100%;
    text-align: center;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    box-sizing: border-box;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}
.mlist_nav span a {
    display: block;
    height: 100%;
    color: #676767;
    font-size: 14px;
    padding: 13px 0;
    border-bottom: 2px solid #FFF;
    box-sizing: border-box;
    margin: 0;
}
.f-right {
    float: right;
}
.u-hd-right a {
    position: relative;
}
.i-hd-home {
    width: 23px;
    height: 22px;
    margin-top: 11px;
}
.filter{
    height: 26px;
    margin: 10px auto;
}
.filter ul{
    display: flex;
    display: -webkit-flex;
    padding: 0 2%;
    margin: 0 auto;
}
.filter ul li {
    margin-left: 2%;
    background-color: #FBFBFA;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 1;
    color: #757575;
     width: 7em;
     float:left;
}
.filter ul li:nth-child(1) {
    margin-left: 0;
}
.filter ul li span {
     /* width: 3em; */
    display: inline-block;
  /*   max-width: 4em; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    height: 24px;
     -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 1;
    line-height: 24px;
}

#shop-list {
    padding-bottom: 20px;
}
#shop-list, #item-list {
    position: relative;
    background: #fff;
    min-height: 200px;
}
.shop-list {
    overflow: hidden;
    padding: 12px 5px;
    background: #ffffff;
    border-bottom: 1px solid #efefef;
}
.row {
    /* width: 100%; */
    font-size: 12px;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row .row {
    width: auto;
    max-width: none;
}
.a-head {
    position: relative;
    overflow: hidden;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.a-head img {
    width: 15%;
    border-radius: 50%;
    float: left;
    background-size: cover;
}
.row:after {
    clear: both;
}
.a-head-content {
    float: right;
    margin-left: 2%;
    width: 83%;
    color: #8991a2;
    font-size: 12px;
}
.a-head-content h1 {
    font-size: 18px;
    color: #5d5d5d;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    padding-right: 86px;
}
.a-head-content mark {
    display: block;
    width: 100%;
    background: url(../img/gray-mark.png) no-repeat left center;
    background-size: 10px 13.5px;
    padding-left: 14px;
    color: #8991a2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
    margin-bottom: 5px;
    padding-right: 86px;
}
.a-head-content p {
    clear: both;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    padding-top: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
ul.a-image-list {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.a-image-list li {
    width: 32%;
    float: left;
    margin-right: 0;
    overflow: hidden;
    float: left;
    margin-right: 1%;
}
.a-image-list img {
    width: 100%;
}


.rel {
    position: relative;
}
.i_ul {
    display: block;
    padding: 0 0 0 14px;
    left: -7px;
}
.i_ul {
    margin: 5px 0px 0px 0px;
    overflow: hidden;
    left: 0;
    padding: 0;
}
.i_ul .i_li {
    margin-bottom: 0;
}
.i_li:nth-child(1), .i_li:nth-child(2) {
    padding-top: 0;
}
.i_li:nth-child(odd) {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: none;
    padding: 10px 10px 18px 0;
}
.i_li:nth-child(even) {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #fff;
    border-left: none;
    padding: 10px 0 18px 10px;
}
.left {
    float: left;
}
.i_li {
    width: 50%;
    position: relative;
    margin-bottom: 6px;
    border-left: 6px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.i_li a {
    display: block;
    background-color: #fff;
    position: relative;
}
.i_li a {
    padding: 0;
}
.wrap {
    width: 100%;
}
.i_li_img_div {
    top: 0;
    left: 0;
    z-index: 1;
}
.i_li_img_div_inner {
    overflow: hidden;
}
.i_li_img_div_inner {
    background-color: white;
    padding: 0;
}
.i_li span.sellerOut {
    position: relative;
    display: block;
}
.i_li img {
    display: block;
    width: 100%;
}
.i_txt {
    font-size: 14px;
    color: #323232;
    height: 18px;
    line-height: 18px;
    margin: 10px 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.i_pri_wrap {
    height: 22px;
    margin: 5px 0 5px 0px;
    line-height: 22px;
    overflow: hidden;
}
.i_pri {
    color: #d93229;
    font-size: 16px;
}
.i_pri, .i_pri_discount {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
.s_price{
    text-decoration: line-through; color:#999; font-size: 12px;
}
.p-sx{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left:3px;
    background: url(../img/sx.png) no-repeat;
    background-size: 36px 12px;
    margin-top: 6px;
    position: absolute;
}
.p-sx.p-sx-x{
    background-position: -12px 0;
}
.p-sx.p-sx-s{
    background-position: -24px 0;
}
.lable_yj{
    color: #bbb;
    font-size: 13px;
    margin-right: 5px;
}


