/*会员登录注册*/
.mlogin { font-size: .42rem; }
.mlogin .iconfont { font-size: .42rem; color: #6C6C6C; }
.ft-left { float: left }
.ft-right { float: right }
.avatar { padding: .26666rem; }
.avatar img { width: 100%; height: 100%; display: block; }
.logo { width: 80%; margin: 2rem auto; height: 3rem; background: url(/Public/wap/img/logo.png) center center no-repeat; background-size: contain; position: relative; }
.mlogin .field { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; border-bottom: 1px solid #DDD; padding: 0 .4rem; line-height: 1.2rem; color: #6C6C6C; background-color: #fff; text-align: left; position: relative }
.submit h4 { font-weight: 100; color: #666; font-size: .4rem; line-height: 1rem; text-align: center; }
.other-link { margin: 0.4rem 0.26rem; overflow: hidden; }
.other-link a { color: #6ab42f; }
.state { height: 4rem; text-align: center; line-height: 4rem; font-size: 1rem; border-bottom: 1px solid #e0e0e0; margin-bottom: .2rem; }
.btngreen { background: #6ab42f; color: #fff; }
.btngray { background: #999; color: #fff; }
.mb2 { margin-bottom: .2rem; }
.code { background: #f6ad2b; color: #fff; padding: 0 .4rem; position: absolute; top: 0; border-bottom-left-radius: .6rem; border-top-left-radius: .6rem; right: 0 }
/*会员中心*/
.member .top { box-shadow: 0 0 4px rgba(0,0,0,0.2); }
.member .mallbg { height: 4rem; background-size: cover; width: 100%; background-position: center center; }
.member .mall { padding-bottom: .2rem; background: #fff; font-size: .36rem; position: relative; box-shadow: 0 0 .2rem rgba(0,0,0,0.04) }
.member .mall a { color: #666; width: 100% }
.member .mall i.num { font-size: .5rem; color: #333 }
.member .mall .avatar, .member .mall .cart, .member .mall .share, .member .mall .points { width: 25%; text-align: center; line-height: .44rem; padding: .2rem 0; position: relative }
.top .mall .cart b, .top .mall .share b { border-radius: .4rem; font-size: .3rem; background: #f60; position: absolute; top: 0; margin-left: .6rem; font-weight: 300; color: #fff; padding: 0 0.12rem; }
.member .mall .avatar { width: 100%; }
.member .mall .avatar span { background-position: center center; background-repeat: no-repeat; border: 0.1rem solid #fff; border-radius: 2rem; box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1); display: block; float: right; height: 3.6rem; left: 50%; margin-left: -1.85rem; position: absolute; top: -1.8rem; width: 3.6rem; }
.member .mall .name { color: #666; font-size: 0.6rem; font-weight: 100; line-height: 1rem; text-align: center; padding-top: 2.2rem; }
.member .mall.person .name { padding-top: 1.8rem; }
.member .mall .name b { vertical-align: middle }
.member .mall .name a.store { color: #fff; background: #f6ad2b; padding-right: 1rem; margin-left: .2rem; position: relative; }
.member .mall .name a.btn1 { color: #fff; margin-left: -.8rem; }
.member .mall .name a.store i.flagship { background-color: #06c; border-radius: 0.6rem; display: inline-block; font-size: 0.6rem; height: 0.9rem; line-height: 0.9rem; margin-top: -0.45rem; overflow: hidden; position: absolute; right: 0; top: 50%; width: 0.9rem; }
.member .mall .name a.up { background: #f60; position: relative;}
.member .mall .memberid { text-align: center; color: #999; font-size: .42rem; line-height: .8rem; }
.member .mall i.code { position: absolute; font-size: 1rem; right: 0.2rem; top: 0.2rem; }
.member .mall .share { border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; box-sizing: border-box }
.member .shopinfo { background: #f6f6f6; }
.member .shopinfo ul { margin: 0 auto; width: 90%; }
.member .shopinfo li { width: 30%; float: left; text-align: center; margin: .6rem 0; font-size: .4rem; line-height: .6rem; border-right: 1px solid #e0e0e0; box-sizing: border-box; color: #666 }
.member .shopinfo li:first-child { width: 40%; }
.member .shopinfo li:last-child { border-right: none }
.member .shopinfo li span { display: block; color: #999; line-height: .8rem; }
.member .shopinfo li span.num { font-size: .6rem; }
.step { background: #fff; border-bottom: 1px solid #f2f2f2 }
.step li { width: 25%; float: left; font-size: .34rem; }
.step.person li { width: 20%; }
.step li i { width: 100%; font-size: .8rem; display: block; color: #999 }
.step li a { width: 100%; padding: .2rem 0; display: block; text-align: center; position: relative; color: #666 }
.step li a b { border-radius: .4rem; font-size: .3rem; background: #f60; position: absolute; top: .2rem; font-weight: 300; color: #fff; padding: 0 0.12rem; left: 1.2rem; }
.step li a.lfnum { padding-bottom: 0 }
.step li a.lfnum span { position: relative; top: -.2rem; }
.step li a span i.num { position: relative; top: 0; font-size: .3rem; color: #666; }
html body.login div.page.pdt10.member form#loginForm.mlogin div.list div.title a i.icon { font-size: 0.8rem; }
.list .title span { display: inline; color: #666 }
html body.login div.page.pdt10.member form#loginForm.mlogin div.list div.title a span { vertical-align: top }
.sharelist li { padding: 0 .2rem; margin-bottom: .2rem; }
.sharelist li a { width: 100%; display: block; }
.sharelist li a span { height: 3rem; display: block; border: 1px solid #e0e0e0; border-bottom: none }
.sharelist li .title { height: 1rem; padding: 0 .4rem; position: relative; border-bottom-left-radius: .2rem; border-bottom-right-radius: .2rem; border: 1px solid #e0e0e0; border-top: none; background: #fff; }
.sharelist li .title h4 { height: 1rem; line-height: 1rem; font-size: .4rem; padding-right: 1rem; box-sizing: border-box; overflow: hidden; color: #666 }
.sharelist li .title b { position: absolute; right: 0.8rem; top: 0; line-height: 1rem; }
.sharelist li .title b a { border-radius: .6rem; height: .6rem; text-align: center; background: #e0e0e0; line-height: .6rem; padding: 0 .2rem; margin-top: .2rem; display: block; }
/*下级连锁店*/
.storetype { border-bottom: 1px solid #e0e0e0; background: #fff }
.storetype a { width: 35%; float: left; font-size: .4rem; color: #999; text-align: center; line-height: 1.2rem; display: inline-block; position: relative; }
.storetype a.on { color: #6ab42f }
.storetype a i { display: none; font-size: .3rem; }
.storetype a.on i { display: block; position: absolute; right: .4rem; top: 0 }
.storetype a:first-child { width: 30%; }
.storetype a:nth-child(2) { border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; box-sizing: border-box; }
.storelist .list li { padding: .2rem; position: relative; border-bottom: 1px solid #e0e0e0; }
.storelist .list li .avatar { width: 1.6rem; height: 1.6rem; overflow: hidden; padding: 0; border-radius: 1rem; float: left }
.storelist .list li .info { margin-left: .4rem; float: left }
.storelist .list li .info h6 { font-size: .4rem; line-height: .6rem; }
.storelist .list li .info h6 span.type { background: #f6ad2b; font-size: .4rem; line-height: .56rem; color: #fff; position: absolute; right: 0; top: .4rem; padding: .1rem .4rem .1rem .6rem; border-bottom-left-radius: 1rem; border-top-left-radius: 1rem; }
.storelist .list li .info h6 span.type1 { background: #6ab42f; }
.storelist .list li .info h6 span.store0 { background: #666; }
.storelist .list li .info h6 span.store1 { background: #6ab42f; }
.storelist .list li .info h6 span.store2 { background: #f6ad2b; }
.storelist .list li .info h6 span.store3 { background: #f60; }
.storelist .list li .info h6 span.store0, .storelist .list li .info h6 span.store1, .storelist .list li .info h6 span.store2, .storelist .list li .info h6 span.store3 { color: #fff; }
.storelist .list li .info .tel { font-size: .4rem; }
.storelist .list li .info .tel a { color: #06c }
.storelist .list li .info .name { font-size: .34rem; line-height: .4rem; }
.storelist .list li .info .tel .time { position: absolute; right: .2rem; color: #999; bottom: 0.4rem; font-size: .34rem; }
.storelist .list .tjavatar { width: 3rem; height: 3rem; display: block; margin: 0 auto; border-radius: 2.4rem; border: .1rem solid #fff; overflow: hidden; box-shadow: 0 0 .4rem rgba(0,0,0,0.2); vertical-align: middle; margin-top: 1rem; }
.storelist .list .tjavatar img { width: 3rem; height: auto; vertical-align: middle; display: block; }
.storelist .list .tjinfo { width: 100%; box-sizing: border-box; padding: .4rem 2rem; text-align: center; }
.storelist .list .tjinfo span { line-height: 1rem; display: block; font-size: .4rem; }
.tier { position: relative; height: 4rem; }
.tier .totnum { text-align: right; width: 100%; line-height: 1rem; padding: 2rem .4rem 0 .4rem; box-sizing: border-box; background: #6ab42f; display: inline-block; color: #fff; font-weight: 100; margin-bottom: .2rem; }
.tier .totnum .num { font-size: 1.6rem; text-shadow: 2px 2px 0 rgba(0,0,0,0.2) }
.storelist .list .tier { font-size: .36rem; color: #666; text-align: right; }
.storelist .list .tier .ult, .storelist .list .tier .now { padding: 0 .4rem; }
.storelist .list .tier .ult .num, .storelist .list .tier .now .num { color: #6ab42f }
.storelist .list .tier .ult .num { font-size: .8rem; }
.storelist .list .tier .now .num { font-size: 1.2rem; }
/*店铺升级*/
.up .head { background: #6ab42f; color: #fff; box-shadow: none; border: none; height: 1rem; line-height: 1rem }
.up .head a.back { line-height: 1rem; height: 1rem; color: #fff; }
.upstore { background: #fff none repeat scroll 0 0; border-bottom: 1px solid #e0e0e0; box-sizing: border-box; display: block; float: left; width: auto; margin: .2rem; border-radius: .2rem; box-shadow: 0 0 .4rem rgba(0,0,0,0.2); overflow: hidden; position: relative; z-index: 2; }
.upstore h2 { font-size: .36rem; padding: .4rem 0; text-align: center; color: #6ab42f; background: #f4f4f4; }
.upstore .type.brdlr { border-left: 1px solid #f2f2f2; border-right: 1px solid #f2f2f2; padding: .4rem 0 }
.upstore .type { box-sizing: border-box; margin: 0 auto; text-align: center; width: 33.33%; }
.upstore .type img { width: 100%; height: auto }
.upstore .type .gift { width: 2.6rem; height: 2.6rem; display: inline-block; margin: auto; background-size: cover; background-position: center center; margin-top: .4rem; }
.upstore .type h4 { font-size: .4rem; font-weight: 100; line-height: .6rem; color: #444 }
.upstore .type span { display: block; font-size: .3rem; line-height: .5rem; }
.upstore .type a.join { display: inline-block; height: .8rem; line-height: .8rem; border-radius: .4rem; background: #6ab42f; color: #fff; font-size: .34rem; padding: 0 .4rem; }
.upstore .type a.atjoin { display: inline-block; height: .8rem; line-height: .74rem; border-radius: .4rem; font-size: .34rem; padding: 0 .4rem; }
.upstore .type a.join:active { background: #f6ad2b; }
.up .page.greenbg .upstore .tip.orange { padding: .4rem; }
.referee { display: block; height: 2.4rem; padding: .4rem; background: #6ab42f; position: relative }
.referee .avatar { width: 2.4rem; height: 2.4rem; display: inline-block; border-radius: 2rem; overflow: hidden; padding: 0; border: .1rem solid #fff; box-sizing: border-box; background-color: #f2f2f2; box-shadow: 0 0 .4rem rgba(0,0,0,0.2); }
.referee .tjinfo { line-height: .6rem; color: #fff; position: absolute; top: 1rem; left: 0; padding-left: 3rem; font-size: .4rem; }
.up .info { padding: 0; position: relative; background: #6ab42f; z-index: 1; top: -.4rem; margin: 0 .2rem; box-shadow: 0 0 .4rem rgba(0,0,0,0.2) }
.up .info h6 { font-size: .4rem; padding-bottom: .4rem; border-bottom: 1px solid #e0e0e0; color: #444; }
.up .info img { width: 100%; height: auto; display: block; }
.up .info .store { border-bottom: 1px solid #e0e0e0; font-size: .3rem; padding: .4rem 0; line-height: .6rem; }
.up .info .store h6 { border: none; font-size: .44rem; line-height: .8rem; padding: 0; font-weight: 100; }
.up .info .store b { background: #f6ad2b; border-radius: 1rem; color: #fff; width: .6rem; height: .6rem; line-height: .6rem; display: inline-block; text-align: center; font-family: Arial; margin: 0 .1rem 0 .4rem; }
.up .info .store p { padding: .4rem 0 }
.up .info .store p { line-height: .8rem; font-size: .4rem }
.shares_binding_wx .submit.mgt4 { margin-bottom: 1rem; }
.shares_binding_wx .newbox { padding: .2rem 0; }
.member .shopinfo.person li { border-right: 1px solid #f2f2f2; box-sizing: border-box; color: #666; float: left; font-size: 0.4rem; line-height: 0.6rem; margin: .4rem 0; text-align: center; width: 30%; }
.member .shopinfo.person li:last-child { border-right: none; }
.member .shopinfo.person li:nth-child(2) { width: 40%; border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; }
.member .shopinfo.person li i { display: block; font-size: 1rem; color: #999; line-height: 1rem; }
.member .shopinfo.person li span.num { font-size: .6rem; line-height: .8rem; }
.member .step.person .field { border-bottom: 1px solid #e0e0e0 }
.member .step.person .field li { padding: .4rem 0 }
/*证书*/
.cert { width: 320px; height: 470px; margin: 0 auto; position: relative; background: url(../img/cert.jpg) top center no-repeat; background-size: cover; }
.cert span { color: #333 }
.cert .name { font-size: 11px; font-weight: 700; left: 180px; position: absolute; top: 158px; }
.cert .id { font-size: 11px; font-weight: 700; left: 150px; position: absolute; top: 230px; }
.cert .type { font-size: 11px; font-weight: 700; left: 150px; position: absolute; top: 245px; }
.cert .time { font-size: 11px; font-weight: 700; left: 150px; position: absolute; top: 265px; }
.cert .lasttime { font-size: 7px; font-weight: 700; left: 190px; position: absolute; top: 410px; }
.addlist { padding: 0; }
.addlist ul { padding: 0; margin-top: .2rem; }
.addlist li { padding: .2rem; background: #fff; border-bottom: 1px solid #e0e0e0; position: relative; }
li i.on { display: block; font-size: .6rem; }
.addlist .edit { background: #e0e0e0; box-sizing: border-box; display: block; height: 70%; text-align: center; width: 4.22rem; position: absolute; right: -3rem; top: 15%; font-size: .3rem; color: #666; z-index: 10; border-bottom-left-radius: 1rem; border-top-left-radius: 1rem; }
.addlist li.on .edit { background: #3e8704; box-shadow: 0 0 .2rem rgba(0,0,0,0.2) }
.pay #address_list .edit .action, .pay #address_list .edit .del, .pay #address_list .edit .change { width: 1.4rem; float: left; padding-top: .26rem; height: 100%; box-sizing: border-box; line-height: .52rem; overflow: hidden; position: relative }
.pay #address_list li.on .edit .action, .pay #address_list li.on .edit .del, .pay #address_list li.on .edit .change { color: #fff }
.pay #address_list .edit .action i { font-size: 1rem; height: 100%; display: block; text-align: left; padding: .18rem 0 0 .2rem; box-sizing: border-box; width: 1.4rem; position: absolute; }
.pay #address_list .edit .action i.open { left: 0; transition: 0.3s }
.pay #address_list .edit .action i.off { position: absolute; left: 1.4rem; transition: 0.3s }
.pay #address_list .edit .action.on i.open { position: absolute; left: -1.4rem; transition: 0.3s }
.pay #address_list .edit .action.on i.off { position: absolute; left: 0; transition: 0.3s }
.pay #address_list li.on .edit i { color: #fff }
#address_list .edit .del, #address_list .edit .del i { color: #f60 }
#address_list .edit .change, #address_list .edit .change i { color: #06c; }
.addlist .on dd { color: #fff; }
.addlist li.on { background: #6ab42f; }
.addlist li.on dt { color: #fff !important }
.addlist dt { color: #999; font-weight: 300 }
.addinfo { box-sizing: border-box; padding-right: 1.8rem; }
.addinfo dl.name { height: .6rem; line-height: .6rem; font-size: .4rem; position: relative }
.addinfo dl.name dt { width: 2rem; }
.addinfo dl.name dd { position: absolute; left: 1.6rem; margin-top: -.6rem; }
.addinfo dl.name dd.tel { right: 0; left: auto }
.addinfo dl.add { line-height: .5rem; font-size: .34rem; }
.addinfo dl.add dt { float: left; width: 1.72rem }
.addinfo dl.add dd.addsub { float: left; font-size: 0.34rem; height: 0.4rem; line-height: 0.5rem; overflow: hidden; padding-bottom: 0.15rem; }/*确认订单*//*收货地址*/
.address { position: relative; border-bottom: 1px solid#e0e0e0; background: #6ab42f; padding: .2rem; color: #fff; }
.address .icon { float: left; font-size: 1rem; margin-top: 0.4rem; padding-right: 0.2rem; text-align: center; width: 1rem; }
.address .addinfo { padding-right: 2rem; box-sizing: content-box; }
.address .addedit { position: absolute; right: 0; top: .8rem; }
.address .addedit a { background: #390 none repeat scroll 0 0; border-bottom-left-radius: 1rem; border-top-left-radius: 1rem; color: #fff; display: block; font-size: 0.34rem; padding: 0.2rem; }
.address dt { font-weight: 300 }
.address .addinfo dl.name { height: .6rem; line-height: .6rem; font-size: .4rem; position: relative }
.address .addinfo dl.name dt { width: 3rem; color: #fff; }
.address .addinfo dl.name dd { position: absolute; left: 2.46rem; margin-top: -.6rem; }
.address .addinfo dl.name dd.tel { right: 0; left: auto }
.address .addinfo dl.add { line-height: .5rem; font-size: .34rem; margin-left: 1.2rem; }
.address .addinfo dl.add dt { float: left; width: 1.72rem; color: #fff; }
.address .addinfo dl.add dd.addsub { float: left; font-size: .34rem; }
.pay .noaddress { padding: .4rem; background: #f90; font-size: .6rem; color: #fff; }
.pay .noaddress a { display: block; }
.pay .noaddress i {  font-size: 1.4rem; padding-right: .2rem; float: right; color: #fff }
.pay .noaddress .addinfo { color: #fff; font-size: .5rem; }
.cartlist { margin-top: .2rem; }
.cartlist .store { height: 1rem; line-height: 1rem; background: #fff; font-size: .4rem; padding: 0 .2rem }
.cartlist li { background: #f5f5f5; position: relative; padding: .4rem .2rem; border-bottom: 1px solid #fff }
.cartlist li .goodsimg { width: 2rem; height: 2rem; float: left; border: 1px solid #ddd }
.cartlist li .goodsimg .img { width: 2rem; height: 2rem; }
.cartlist li .info { box-sizing: border-box; display: block; height: 2rem; left: 0; padding: 0 .2rem 0 2.4rem; position: absolute; width: 100%; }
.cartlist li.goods div.info .title { font-size: .4rem; color: #666; padding-right: .2rem; }
.cartlist li.goods div.info .type { font-size: .34rem; color: #999; line-height: .4rem; margin: .02rem 0 .04rem 0; }
.cartlist li.goods div.info .type span { margin-right: .2rem; }
.cartlist li.goods div.info .discount { position: absolute; bottom: 0; border-radius: 2px; background: #f60; color: #fff; font-size: .3rem; padding: 0 .1rem; }
.cartlist li.goods div.info .pay { position: absolute; right: 0; font-size: .4rem; padding-right: .2rem; margin-top: -.4rem; background:none; }
.cartlist li.goods div.info .pay .qty { font-size: .34rem; }
.payinfo { background: #fff; }
.payinfo dl { height: 1.2rem; border-bottom: 1px solid #f0f0f0; line-height: 1.2rem; font-size: .4rem; position: relative; padding: 0 .2rem; font-weight: 300; }
.payinfo .title { height: 1.2rem; border-bottom: 1px solid #e0e0e0; line-height: 1.2rem; font-size: .4rem; position: relative; padding: 0 .2rem; font-weight: 300; }
.payinfo .pirce { padding: .4rem .2rem; }
.payinfo .pirce p { height: .6rem; text-align: right; line-height: .6rem; font-size: .34rem; color: #666 }
.payinfo .pirce p .num { font-size: .4rem; }
.payinfo .pirce p.total { border-top: 1px solid#e0e0e0; margin-top: .4rem; padding-top: .4rem; font-size: .4rem; color: #333; }
.payinfo .pirce p.total .num { font-size: .6rem; }
.payinfo dl dt { width: 3rem; color: #999; }
.payinfo dl dd { position: absolute; right: .2rem; margin-top: -1.2rem; color: #666 }
.payinfo dl dd input { height: .8rem; width: 1.2rem; border: 1px solid #e0e0e0; -webkit-appearance: none; border-radius: 2px; padding: 0 .2rem; }
.payment { height: 1.4rem; padding: 0 .2rem; }
.payment div { width: 40%; text-align: center; line-height: 1.4rem; float: left; }
.payment i { font-size: .8rem; }
.pay .md-effect-2 .md-content { -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); opacity: 0; -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); }
.pay .md-show.md-effect-2 .md-content { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); opacity: 1; }
.pay .md-modal { width: 100%; height: 100%; top: 0; left: 0; -webkit-transform: translateX(0) translateY(0); -moz-transform: translateX(0) translateY(0); -ms-transform: translateX(0) translateY(0); transform: translateX(0) translateY(0); }
.pay .md-content > div { padding: 0 }
.pay .md-effect-2 .md-content .submit { padding: 0 .4rem .4rem; }
.pay .md-effect-2 .md-content { background: #f0f0f0; opacity: 1; color: #666; height: 100%; border-radius: 0 }
.pay .md-effect-2 .md-content .addlist { padding: 0; }
.pay .md-effect-2 .md-content ul { padding: 0; margin-top: .2rem; }
.pay .md-effect-2 .md-content li { padding: .2rem; background: #fff; border-bottom: 1px solid #e0e0e0; position: relative; }
.pay .md-effect-2 .md-content li i.on { position: absolute; right: .4rem; top: .5rem; color: #fff; font-size: 1rem; }
.pay .md-effect-2 .md-content li.on { background: #6ab42f; color: #fff !important }
.pay .md-effect-2 .md-content li.on dt { color: #fff !important }
.pay .md-effect-2 .md-content dt { color: #999; font-weight: 300 }
.pay .md-effect-2 .md-content .addinfo { padding-right: 1.6rem; }
.pay .md-effect-2 .md-content .addinfo dl.name { height: .6rem; line-height: .6rem; font-size: .4rem; position: relative }
.pay .md-effect-2 .md-content .addinfo dl.name dt { width: 2rem; }
.pay .md-effect-2 .md-content .addinfo dl.name dd { position: absolute; left: 1.6rem; margin-top: -.6rem; }
.pay .md-effect-2 .md-content .addinfo dl.name dd.tel { right: 0; left: auto }
.pay .md-effect-2 .md-content .addinfo dl.add { line-height: .5rem; font-size: .34rem; }
.pay .md-effect-2 .md-content .addinfo dl.add dt { float: left; width: 1.72rem }
.pay .md-effect-2 .md-content .addinfo dl.add dd.addsub { float: left; font-size: .34rem; }
/*银行账号管理*/
.bankcard .cardlist { padding: .4rem; }
.bankcard .cardlist .card { background: #fff; border-radius: .2rem; border: 1px solid #e0e0e0; margin-bottom: .4rem; box-shadow: 0 0 .2rem rgba(0,0,0,0.06) }
.bankcard .cardlist .card.on { background: #e0e0e0; }
.bankcard .cardlist .card .title { line-height: 1rem; height: 1rem; border-bottom: 1px solid #fff; font-size: .4rem; padding: 0 .4rem; }
.bankcard .cardlist .card .info { padding: .4rem; position: relative; }
.bankcard .cardlist .card .add { line-height: 1rem; font-size: .4rem; padding-bottom: .4rem; position: relative; }
.bankcard .cardlist .card .add i { display: none }
.bankcard .cardlist .card.on .add i { position: absolute; right: 0; top: 0; font-size: 1rem; color: #6ab42f }
.bankcard .cardlist .card .option { padding-top: 0.4rem; text-align: right; border-top: 1px solid #fff; }
.bankcard .cardlist .submit { margin: 0; padding: 0 }
.bankcard .bank_wz { background: #f6ac19; padding: 10px 0px; color: #fff; border-radius: 5px 5px 0px 0px; padding-left: 6%; padding-right: 6%; }
.bankcard .bank_wz1 { padding: 20px 0px; background: #fff; padding-left: 6%; padding-right: 6%; }
.bankcard .bank_xl { width: 100%; position: absolute; z-index: 1; padding-left: 2rem; box-sizing: border-box; left: 0 }
.bankcard .bank_xl>ul { border-left: 1px solid #ddd; background: #fff; padding-top: 1px; height: 6.14rem; overflow-y: scroll; border-bottom: 1px solid #ddd; }
.bankcard .bank_xl>ul>li { padding: 0 .4rem; border-bottom: 1px solid #ddd; line-height: 1.2rem; }
.bankcard .bank_xl>ul>li>a { display: block; width: 100%; height: 1.2rem; padding-top: .2rem; box-sizing: border-box; }
.bankcard .bank_xljt { position: absolute; right: 0px; top: 1px; width: 50px; height: 33px; /* background-color: red; */ line-height: 33px; text-align: center; border-left: 1px solid #ccc; }
.bankcard .bank_xljt1 { height: 1.2rem; position: absolute; width: 100%; top: 0px; left: 0; }
.bankcard .fieldset img { vertical-align: middle; height: .8rem; width: auto; display: block }
.bankcard #modal-2.md-modal { width: 60%; min-width: 60%; height: 100%; left: 70%; }
.bankcard #modal-2.md-modal .md-content { height: 100%; background: #fff; }
.bankcard #modal-2.md-modal .md-content .head { padding: 0; }
.bankcard #modal-2.md-modal .md-content .banklist, .bankcard #modal-2.md-modal .md-content .banklist ul { padding: 0; }
.bankcard #modal-2.md-modal .md-content .banklist { height: 100%; overflow-y: scroll }
.bankcard #modal-2.md-modal .md-content .banklist li { height: 1.2rem; line-height: 1.2rem; display: block; border-bottom: 1px solid #f2f2f2; text-align: center; padding-top: .2rem; box-sizing: border-box; }
.bankcard #modal-2.md-modal .md-content .banklist li img { height: .8rem; width: auto; display: block; margin: auto; }
.bankcard .mlogin div.tip { padding: .4rem; font-size: .32rem; }
.bankcard .mlogin span.idphoto { width: .8rem; height: .8rem; overflow: hidden; display: block; border-radius: 1rem; text-align: center }
.bankcard .cardlist .info .default { display: none }
/*提现*/
.cash { background: #f1ffcd; }
.cash .head { background: #6ab42f; color: #fff; box-shadow: none; border: none; height: 1rem; line-height: 1rem }
.cash .head a.back { line-height: 1rem; height: 1rem; color: #fff; }
.cash .page { position: relative; background: url(../img/caticonbg.png) #f1ffcd top left repeat-x; padding-bottom: 0 }
.cash .newbox .field-control #money-error.error.error_tips.error-info { left: 2.4rem; right: auto; }
.cash .totalwallet { line-height: 2rem; border-bottom: 1px solid #e0e0e0; padding: 0 .4rem; }
.cash .totalwallet span.num { font-size: 1rem; line-height: 1.8rem; }
.cash li { padding: .2rem; }
.cash .cashdatail li { padding: 0 }
.cash li .title { border-bottom: 1px solid #f4f4f4; line-height: 1rem; font-size: .4rem; background: #f2f2f2; padding: 0 .4rem; }
.cash li .title .name { color: #444 }
.cash li .title .cardnum { margin-left: .2rem; }
.cash li .info { padding-top: .2rem; }
.cash .boxtop { padding: .2rem .2rem .6rem .2rem; margin-top: -.4rem; }
.cash .cashdatail li .info { padding: .2rem .4rem; font-size: .34rem; line-height: .66rem; }
.cash .tip { margin: .2rem; border-radius: .2rem; position: relative; z-index: 2; box-shadow: 0 0 .2rem rgba(0,0,0,0.2); padding: .2rem; font-size: .36rem; line-height: .6rem; background: #fff }
.cash .notice { font-size: .34rem; }
.cash .notice.red { padding: .2rem; }
.cash .newbox.mlogin .field input.input-required.green { font-size: .6rem; }
.cash .mlogin .field:last-child { border: none; }
.cash .newbox2 { padding: 0 }
.cash .newbox2 .type li { width: 50%; display: inline-block; float: left; box-sizing: border-box; text-align: center; font-size: .4rem; padding: 0.5rem 0 0.3rem }
.cash .newbox2 .type li:last-child { border-left: 1px solid #e0e0e0; margin-left: -1px; }
.cash .newbox2 .type li.on { background: #6ab42f }
.cash .newbox2 .type li.on a { color: #fff; }
.cash .wxnotice .info, .cash .cardlist .info { text-align: center; font-size: .36rem; line-height: .8rem; }
.cash .wxcard .info { text-align: center }
.cash .wxcard .wx i { font-size: 2rem; height: 2rem; line-height: 2rem; width: 2rem; text-align: right; color: #6ab42f; float: left }
.cash .wxcard .wx span { text-align: left; line-height: 2rem; float: left; font-size: .6rem; padding-left: .2rem; font-weight: 100; display: inline; }
.cash .wxcard .wx a.wxcert { font-size: .34rem; color: #fff; border-radius: 1rem; background: #6ab42f; line-height: .6rem; height: .6rem; display: inline-block; padding: 0 .2rem; position: relative; top: -.06rem; margin-left: .1rem; }
.cash .cardlist .field.wx { width: 7.4rem; margin: .4rem auto; height: 1rem; line-height: 1rem; overflow: hidden }
.cash .cardlist .field.wx .label { background: #6ab42f; color: #fff; border-top-left-radius: 1rem; border-bottom-left-radius: 1rem; padding: 0 .4rem 0 .6rem; }
.cash .cardlist .field.wx .field-control { background: #f2f2f2; padding: 0 .4rem; border-bottom-right-radius: 1rem; border-top-right-radius: 1rem; }
.cash .wxcard .wx .option { height: 2rem; }
.cash .wxcard .wx .option .certbtn { display: inline-block; height: .6rem; line-height: .6rem; background-color: #6ab42f; margin-top: .7rem; font-size: .34rem; border-radius: .6rem; color: #fff; padding: 0 .4rem; margin-left: .2rem; }
/*我的钱包*/
.wallet .head { background: #6ab42f; color: #fff; box-shadow: none; border: none; height: 1rem; line-height: 1rem }
.wallet .head a.back { line-height: 1rem; height: 1rem; color: #fff; }
.wallet .page { position: relative; background: url(../img/caticonbg.png) #f1ffcd top left repeat-x; padding-bottom: 0; min-height: 90%; }
.wallet .type li { width: 50%; line-height: 1.2rem; float: left; border-bottom: 1px solid #f2f2f2; background: #fff }
.wallet .type li.curr { border-color: #6ab42f; }
.wallet .type li.curr a { color: #6ab42f }
.wallet .type li span.icon { font-size: .6rem; vertical-align: middle; }
.wallet .type li a { display: block; text-align: center; font-size: .4rem; }
.wallet .banner { height: 2rem; background: #fff; width: 100%; line-height: 2rem; padding: 0 .4rem; box-sizing: border-box; font-size: .4rem; }
.wallet .banner span.num { font-size: 1rem; }
.wallet .more_html { background: #fff; }
.wallet .more_html li { border-bottom: 1px solid #f2f2f2; padding: .2rem .4rem }
.wallet .more_html li:nth-child(even) { background: #f4f4f4 }
.wallet .more_html li .title { border-bottom: 1px solid #f4f4f4; font-size: .4rem; padding: .2rem 0 }
.wallet .more_html li:nth-child(even) .title { border-color: #fff; }
.wallet .more_html li .time { font-size: .34rem; padding: .2rem 0 }
.wallet .col5 { padding: 0 !important; vertical-align: bottom; overflow: hidden; }
.wallet .col5 ul { width: 100%; }
.wallet .col5 li { width: 20%; padding: .5rem 0 .3rem 0; float: left; text-align: center; font-size: .34rem; box-sizing: border-box; border-right: 1px solid #e0e0e0; }
.wallet .col5 li.on { background: #6ab42f }
.wallet .col5 li:last-child { border: none }
.wallet .col5 li.on a { color: #fff; }
