@charset "UTF-8";
body{
    font-family: 'Microsoft YaHei',Verdana,Arial,Helvetica,sans-serif;
}
h4, ul ,li, p, input ,img, a, span, hr{
    margin:0;
    padding: 0;
}
#bg_color{
    background-color: #f6f6f6;
}
*.ul{list-style: none;}
.f_left{float: left;}
.f_right{float: right;}
.margin15{margin: 15px;}
.m_top10{margin-top: 10px;}
.m_top20{margin-top: 20px;}
.m_top50{margin-top: 50px;}
.m_left10{margin-left: 10px;}
.m_right10{margin-right: 10px;}
.m_right20{margin-right: 20px;}
.p_content{
    float:left;
    width: 100%;
}
.p_content .c_display{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
 .header{
    width: 100%;
    height: 90px;
     float: left;
     margin-top: 20px;
}
.p_content .header p{
    color: black;
    text-align: center;
}
.p_content .header span{
    color: white;
    height:25px;
    width: 80px;
    background-color: black;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: -1px;
}
.p_content .c_display .section{
    width: 100%;
    max-height: 320px;
    float: left;
}
.p_content .c_display .section ul{
    list-style: none;
    max-height: 320px;
    width: 100%;
}
.p_content .c_display .section ul li{
    list-style: none;
    float: left;
    height: 100%;
}
#left_width{
    width: 70%;
}
#right_width{
    width: 30%;
}
.p_content .c_display .section ul li span{
    display: block;
    min-width: 224px;
    max-width: 448px;
    width: 90%;
    max-height: 280px;
    border: 2px solid #a0a0a0;
}
.p_content .c_display .section ul li span img{
    min-width: 200px;
    width: 90%;
}
.p_content .c_display .section ul li ul{
    list-style: none;
}
.p_content .c_display .section ul li ul li{
    width: 100%;
    height:20% ;
    text-align: center;
}
.p_content .c_display .section ul li ul li img{
    vertical-align: middle;
    width: 50px;
}
.p_content .c_display .article{
    margin-top: 50px;
    width: 100%;
    float: left;
}
.p_content .c_display .article h3{
    color: #2e2e2e;
}
.p_content .c_display .article p{
    color: #2e2e2e;
    margin: 16px 0;
}
.p_content .c_display .article p b{
    color: #cb0114;
    font-size: 20px;
}
.p_content .c_display .article label{
    background-color: white;
    width: 100%;
    height: 100px;
    display: block;
    font-size: 14px;
}
.p_content .information{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.p_content .information .register{
    width: 100%;
    float: left;
}
.p_content .information .register p{
    margin-left: 10px;
    margin-bottom: 10px;
}
.p_content .information .register .user_log {
    width: 100%;
    margin: 0 auto;
}
.p_content .information .register .user_log .yzm{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    border-top: 1px solid #e7e7eb;
    background-color: white;
}
#binding_mobile_code{
    background-color: rgba(0,0,0,0);
    border: 0px;
    outline: 0px;
    font-size: 16px;
    margin-left: 40px;
}
.p_content .information .register .user_log .user{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    border-top: 1px solid #e7e7eb;
    background-color: white;
}
.p_content .information .register .user_log .user img{
    width: 20px;
    vertical-align: middle;
    margin:0 10px;
}
.p_content .information .register .user_log .user input{
    background-color: rgba(0,0,0,0);
    border: 0px;
    outline: 0px;
    font-size: 16px;
}
.p_content .information .register .user_log .prompt{
    font-size: 14px;
    width: 100%;
    height: 30px;
}
.p_content .information .register .user_log .prompt input{
    vertical-align: middle;
}
#input_but{
    width: 60px;
    height: 30px;
    float: right;
}
.p_content .receive{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.p_content .receive .r_list{
    width: 100%;
    float: left;
    font-size: 12px;
}
.p_content .receive .r_list ul{
    width: 100%;
    list-style: none;
}
.p_content .receive .r_list ul li{
    width: 100%;
    height: 60px;
    background-color: white;
    margin-bottom: 20px;
}
.p_content .receive .r_list ul li .list{
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 10px;
}
.p_content .receive .r_list ul li .list span{
    width: 50px;
    height: 50px;
    float: left;
}
.p_content .receive .r_list ul li .list span img{
    width: 40px;
    vertical-align: middle;
}


