/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}

.viewport {
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}
.index_nav {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;

    margin: 0 auto;
    background-color: #f7f7f7;
    z-index: 100;
    text-align: center;
    border-top: 1px solid #ccc;
}
.wd_nav {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;

    margin: 0 auto;
    background-color: #FFFFFF;
    z-index: 100;
    text-align: center;
    border-top: 1px solid #ffffff;
}
.index_nav .classify, .index_nav .dynamic, .index_nav .contact, .index_nav .store{
    width: 25%;
    height: 20px;
}
#footer_buy .classify, #footer_buy .dynamic, #footer_buy .contact {
    width: 20%;
    height: 20px;
}
.classify, .dynamic, .contact, .store{
    float: left;
    padding-top: 33px;
    background-size: 23px;
    background-position: center 6px;
    background-repeat: no-repeat;
    font-size: 10px;
    line-height: 10px;
}

.store_button{
    position: fixed;
    bottom:-9px;
    left:50%;
    z-index:101;
    margin-left: -65px;

}

.classify {
    float: left;
    background-image: url(../img/home.png);
}
.dynamic {
    float: left;
    background-image: url(../img/fk.png);
    position: relative;
}



.contact {
    float: right;
    background-image: url(../img/shopping.png);
}
.store {
    float:right;
    background-image: url(../img/peo.png);
}
.classify_1 {
    background-image: url(../img/home_1.png);
}
.dynamic_1 {
    background-image: url(../img/fk_1.png);
    position: relative;
}
.contact_1 {
    background-image: url(../img/shopping_1.png);
}
.store_1 {
    background-image: url(../img/peo_1.png);
}
.classify_2 {
    background-image: url(../img/home_2.png);
}
.dynamic_2 {
    background-image: url(../img/fk_2.png);
    position: relative;
}
.contact_2 {
    background-image: url(../img/shopping_2.png);
}
.store_2 {
    background-image: url(../img/peo_2.png);
}
.b_q{margin-bottom: 50px;}
.fm-footer-copyright {
    height: 44px;
    line-height: 44px;
    color: #848689;
    font-size: 12px;
    text-align: center;
}
/**end 页脚导航**/
.bottom-to-top {
    position: fixed;
    bottom: 56px;
    right: 8px;
    width: 35px;
    height: 35px;
    z-index: 20;
    display: none;
}
.s_price {
    text-decoration: line-through;
    color: #999;
    font-size: 12px;
    display: none
}
.countdown{
    color: #666;
    font-size: 12px;
}

