.detail-image-wrap {
    background-color: #fff;
}
.detail-image-wrap .detail-image {
    position: relative;
    z-index: 1;
}
.detail-image-wrap .detail-image .image-wrap {
    display: block;
    height: 194px;
    overflow: hidden;
}
.detail-image-wrap .detail-image .image-wrap img {
    display: block;
    width: 100%;
    height: auto;
}
.detail-image-wrap .detail-image .album {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 38px;
    height: 38px;
    background: rgba(0,0,0,.5);
    text-align: center;
    font-size: 12px;
    color: #fff;
    z-index: 1;
}
.detail-image-wrap .detail-image .album .collect-icon:after {
    content: '';
    position: absolute;
    left: 12px;
    top: 4px;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(255,255,255,.6);
    z-index: -1;
}
.detail-image-wrap .title-wrap {
    padding: 12px 12px 12px 0;
    margin-left: 12px;
    border-bottom: 1px solid #e0e0e0;
}

    .detail-image-wrap .title-wrap {
        border: none;
        background-image: -webkit-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
        background-image: -moz-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
        background-image: -o-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
        background-image: linear-gradient(0,#e0e0e0,#e0e0e0 50%,transparent 50%);
        background-size: 100% 1px;
        background-repeat: no-repeat;
        /* background-position: bottom; */
    }
.detail-image-wrap .title-wrap .title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #22222d;
}
.detail-image-wrap .title-wrap .desc {
    margin-top: 11px;
    line-height: 16px;
    font-size: 13px;
    color: #88888d;
}
.merchant-info {
    border: none;
    background-image: -webkit-linear-gradient(270deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-webkit-linear-gradient(180deg,transparent,transparent 50%,transparent 50%),-webkit-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-webkit-linear-gradient(0,transparent,transparent 50%,transparent 50%);
    background-image: -moz-linear-gradient(270deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-moz-linear-gradient(180deg,transparent,transparent 50%,transparent 50%),-moz-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-moz-linear-gradient(0,transparent,transparent 50%,transparent 50%);
    background-image: -o-linear-gradient(270deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-o-linear-gradient(180deg,transparent,transparent 50%,transparent 50%),-o-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-o-linear-gradient(0,transparent,transparent 50%,transparent 50%);
    background-image: linear-gradient(180deg,#e0e0e0,#e0e0e0 50%,transparent 50%),linear-gradient(270deg,transparent,transparent 50%,transparent 50%),linear-gradient(0deg,#e0e0e0,#e0e0e0 50%,transparent 50%),linear-gradient(90deg,transparent,transparent 50%,transparent 50%);
    background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
    background-repeat: no-repeat;
    background-position: top,right top,bottom,left top;
}
.merchant-info {
    padding: 0 12px;
    overflow: hidden;
    margin-top: 10px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.merchant-info .merchant-cnt {
    position: relative;
}
a, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}
.merchant-info .title {
    width: 56%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 12px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #22222d;
}
.merchant-info .address {
    font-size: 13px;
    line-height: 19px;
    color: #88888d;
}
.merchant-info .other {
    border: none;
    background-image: -webkit-linear-gradient(270deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
    background-image: -moz-linear-gradient(270deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
    background-image: -o-linear-gradient(270deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
    background-image: linear-gradient(180deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
}
.merchant-info .other {
    border-top: 1px solid #e0e0e0;
    margin-top: 13px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.merchant-info .huanjing, .merchant-info .tel {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #111;
}
.merchant-info .tel:before {
    background-image: url(../img/ip.png);
}
.merchant-info .huanjing:before, .merchant-info .tel:before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 17px;
    vertical-align: -4px;
    background-repeat: no-repeat;
    background-position: 0 center;
    -webkit-background-size: 17px 17px;
    background-size: 17px 17px;
}
.panel-taocan .hd ,.panel-notice .hd{
    background-color: #efefef;
    padding: 10px 0 6px 12px;
    height: 13px;
    line-height: 1;
    font-weight: 400;
    font-size: 13px;
    color: #888;
}
.panel-taocan .panel-taocan .struct-data {
    padding: 0 12px;
}
.struct-data {
    border: none;
    background-image: -webkit-linear-gradient(270deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-webkit-linear-gradient(180deg,transparent,transparent 50%,transparent 50%),-webkit-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-webkit-linear-gradient(0,transparent,transparent 50%,transparent 50%);
    background-image: -moz-linear-gradient(270deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-moz-linear-gradient(180deg,transparent,transparent 50%,transparent 50%),-moz-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-moz-linear-gradient(0,transparent,transparent 50%,transparent 50%);
    background-image: -o-linear-gradient(270deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-o-linear-gradient(180deg,transparent,transparent 50%,transparent 50%),-o-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%),-o-linear-gradient(0,transparent,transparent 50%,transparent 50%);
    background-image: linear-gradient(180deg,#e0e0e0,#e0e0e0 50%,transparent 50%),linear-gradient(270deg,transparent,transparent 50%,transparent 50%),linear-gradient(0deg,#e0e0e0,#e0e0e0 50%,transparent 50%),linear-gradient(90deg,transparent,transparent 50%,transparent 50%);
    background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
    background-repeat: no-repeat;
    background-position: top,right top,bottom,left top;
}
.struct-data .total {
    padding: 10px 0;
    font-size: 14px;
    text-align: right;
    color: #22222d;
}
.struct-data .group .item-line {
    position: relative;
    padding: 5px 0;
    line-height: 22px;
    overflow: hidden;
}
.struct-data .group .item-line .name {
    display: block;
    padding-right: 100px;
    font-size: 14px;
    color: #22222d;
}
.struct-data .group .item-line .count {
    right: 70px;
    letter-spacing: 1px;
}
.struct-data .group .item-line .count, .struct-data .group .item-line .price {
    position: absolute;
    top: 5px;
    font-size: 12px;
    color: #88888d;
}
.struct-data .group .item-line .price {
    right: 0;
}
.struct-data .total .current {
    margin-left: 10px;
    color: #ff4683;
}
.struct-data .total .origin {
    margin-left: 18px;
    color: #88888d;
}
.struct-data dt:first-child {
    margin-top: 0;
}
.struct-data dt {
    margin: 20px 0 5px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #22222d;
}
.struct-data dd {
    padding-left: 16px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 19px;
    color: #666;
}
.struct-data dd:before {
    content: '';
    float: left;
    margin: 8px 0 0 -16px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #666;
}
.struct-data {
    background-color: #fff;
    padding: 10px 12px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.buy-btn-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    z-index: 10;
}
.buy-segment {
    position: relative;
    height: 56px;
    line-height: 56px;
    background-color: #fff;
}
.buy-segment .old-current-price {
    margin-left: 10px;
    color: #9b9b9b;
    font-weight: 400;
}
.buy-segment .old-current-price:before {
    font-size: 12px;
}
.buy-segment .current-price:before, .buy-segment .old-current-price:before {
    content: '￥';
    letter-spacing: -4px;
    line-height: 1;
}
.buy-segment .old-current-price .price-value {
    margin-right: 5px;
    font-size: 18px;
    text-decoration: line-through;
}
.buy-segment em {
    font-style: normal;
}
.buy-segment .original-price {
    margin-left: -3px;
    font-size: 15px;
    color: #9b9b9b;
}
.buy-segment .original-price:before {
    content: '/';
    position: relative;
    top: -2px;
    line-height: 1;
}
.buy-segment .buy-wrapper {
    position: absolute;
    top: 8px;
    right: 10px;
}
.buy-segment .buy-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0;
    color: #fff;
    text-align: center;
    background-color: #ff5a84;
    display: block;
    border: 1px solid #ff4683;
    line-height: 38px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
}
.buy-segment .privilege-btn .tip {
    float: left;
    width: 14px;
    margin-top: 1px;
    padding-right: 2px;
    line-height: 1;
    font-size: 12px;
    color: #fff;
}
.buy-segment .privilege-btn .privilege {
    float: left;
    height: 38px;
    min-width: 67px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4px;
    background-color: #fff;
    color: #ff4683;
}
.buy-segment .privilege-btn .privilege:before {
    content: '';
    float: left;
    margin: 16px 0 0 -7px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #fff;
}
.buy-segment .privilege-btn .privilege .price {
    display: inline-block;
    font-size: 35px;
}
.buy-segment em {
    font-style: normal;
}
.buy-segment .privilege-btn .privilege .price:before {
    content: '￥';
    font-size: 18px;
    margin-right: 2px;
    line-height: 1;
}
.buy-segment .privilege-btn .text {
    float: left;
    width: 97px;
}
