*{margin: 0;padding: 0}
.pay-tip{
    z-index: 9999;
    position: absolute;
    bottom: 0;
    height: 45px;
    background-color: rgba(212, 3, 3, 0.9);
    width: 100%;
}
.pay-tip ul li{
    text-align: center;
    display: inline-block;
    line-height: 45px;
    float: left;
}
.reg ,.log{
    width: 30%;
    background-color: #504F50;
}
.fast{width: 40%}
.pay-tip ul li a{    text-decoration: none; color: #FFF; font-size: 14px; display: block}
.pay-tip ul li a::after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background: #dadada;
    position: absolute;
    top: 9px;
}
.pay-tip ul .reg a::after, .pay-tip ul .fast a::after{left: -1px;}