@charset "utf-8";
/* CSS Document */
header#F-topHead {height: 40px;line-height: 40px;position: relative;top: 0;left: 0;right: 0;background-color: #fff;z-index: 101;border-bottom: #eee 1px solid;}
.g-F-container {position: relative;width: 1170px;margin-right: auto;margin-left: auto;}
i.u-F-Phone {text-decoration: none !important;}
.u-F-Phone {display: inline-block;font-weight: bold;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
header#F-topHead a {color: #999;font-size: 13px;padding-right: 10px;}
/* 导航 */
header#F-topNav {background: #fff;padding: 10px 0;position: fixed;top: 0;left: 0;right: 0;width: 100%;z-index: 100;border-bottom: #F4F5F7 1px solid;box-shadow: #eee 0 0 8px;height: 81px;}
header#F-topNav.g-m-topHead {top: 40px;}
header#F-topNav a.logo {color: #333;text-decoration: none;font-size: 35px;display: inline-block;height: 60px;line-height: 50px;font-weight: 600;letter-spacing: -2px;}
header#F-topNav div.u-nav-main-collapse {margin-top: 7px;z-index: 300;}
header#F-topNav nav ul.nav-main {margin: -7px 0 8px 0;z-index: 300;}
.nav {margin-bottom: 0;padding-left: 0;list-style: none;}
.nav>li {position: relative;display: block; float:left;}
.nav>li>a {padding: 0 15px;line-height: 45px;background: #ffffffborder-top: 1px solid #FFFFFF;border-right: 1px solid #FFFFFF;border-left: 1px solid #FFFFFF;padding-right: 35px !important;color: #666666;font-size: 14px;font-weight: normal;display: block;}
.nav>li>a:hover{background-color: #C00;color: #FFF;}
.nav ul {width: auto;height: auto !important;display: inline;position: relative;top: 10px;width: auto;line-height: 46px;}
.nav ul li {position: relative;float: left;width: 100%;height: auto;}
.nav ul li a {padding: 8px 10px !important;color: #666666;line-height: 1 !important;white-space: nowrap;display: block;width: 100%;font-weight: normal;}
.fNavBLine {color: #999999;display: block;margin: 5px 0 0 0;}
#header_shadow {width:1170px;margin-left:auto;margin-right:auto;position: fixed;top: 81px;left: 0;right: 0;height: 75px;z-index: 99;background-image: url(../img/icon/header_shadow.png);background-repeat: no-repeat;background-position: center top;}
/*页脚*/
footer {color: #87919F;font-size: 13px;overflow: hidden;}
footer .footer-bar {background: #292f38;display: block;text-transform: uppercase;position: relative;}
.container {margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px;width: 1170px;text-align:center;}
footer .footer-bar .copyright {display: inline-block;padding: 20px 0;}
footer .footer-content {background: #2E363F;border-top: #403E44 1px dashed;padding: 30px 0;display: block;}
.footer-content .container {text-align: left; height:313px;}
footer .column {display: block;height: 100%;width: 33.33333333%;}
footer .footer-content h3 {color: #fff !important;font-weight: 200;font-size: 16px;letter-spacing: normal;line-height: 24px;margin: 0 0 32px 0;}
footer p.contact-desc {margin: 0 0 30px 0;padding: 0 5px 10px 0;border-bottom: #403E44 1px dashed;}
footer p {line-height: 18px;}
address {margin-bottom: 20px;font-style: normal;line-height: 1.42857143;}
footer address .footer-sprite.address {background-position: 0 0;}
footer ul, footer ul li {list-style: none;margin: 0;padding: 0;}
footer address .footer-sprite {margin-bottom: 20px;padding-left: 30px;background: url('../img/icon/sprite.png') no-repeat 0 0;}
footer address .footer-sprite.phone {background-position: 0 -138px;line-height: 30px;}
footer address .footer-sprite.email {background-position: 0 -247px;}
footer address .footer-sprite.email a{color: #fff;}
footer address .footer-sprite:last-child {margin-bottom: 0;}
footer .column.logo {height: 343px;position: rtelative;background: #292f38;display: block;margin-top: -30px;margin-bottom: -30px;padding-top: 50px;padding-bottom: 50px;-webkit-border-bottom-right-radius: 15px;-webkit-border-bottom-left-radius: 15px;-moz-border-radius-bottomright: 15px;-moz-border-radius-bottomleft: 15px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;}
.animate_fade_in {opacity: 0;right: 0px;position: relative;padding-left: 0px;}
footer .column.logo h4 {color: #fff;font-size: 20px;padding: 0;margin: 0;}
.column .logo-content {text-align: center;}
.column.posts {padding-left: 15px;padding-right: 15px;text-align:right;}
footer .post-item {border-top: #403E44 1px dashed;padding-top: 10px;margin-top: 10px;}
footer .post-item small {font-size: 11px;}
footer .post-item h3 {font-size: 13px;line-height: 20px;font-weight: normal;padding: 0;margin: 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-transform: none;}
footer .post-item h3 a{ color:#FFF;}
footer .view-more {display: block; margin-top: 20px;font-size: 13px;color:#FFF;}
/** BULLETS **/
.tp-bullets {z-index: 98;position: absolute;bottom: 0px;}
.tp-bullets.simplebullets.round .bullet {cursor: pointer;position: relative;background: #fff;width: 188px;height: 6px;float: left;-webkit-transition: background 0.1s linear;-moz-transition: color, background 0.1s linear;-o-transition: color, background 0.1s linear;transition: color, background 0.1s linear;}
.tp-leftarrow.large {z-index: 100;cursor: pointer;position: relative;background: #393939 url(../img/icon/slider-left-arrow.png) no-Repeat;width: 42px;height: 43px;margin-left: 0px;margin-top: -21px;-webkit-transition: background 0.1s linear;-moz-transition: color, background 0.1s linear;-o-transition: color, background 0.1s linear;transition: color, background 0.1s linear;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);/*增加阴影*/
	/*
	**打开注释，按钮变成圆形的
	border-radius: 20px;  所有角都使用半径为5px的圆角，此属性为CSS3标准属性 
	-moz-border-radius: 20px;  Mozilla浏览器的私有属性 
	-webkit-border-radius: 20px;  Webkit浏览器的私有属性 
	border-radius: 20px 20px 20px 20px; 四个半径值分别是左上角、右上角、右下角和左下角 
	*/
}
.tp-rightarrow.large {z-index: 100;cursor: pointer;position: relative;background: #393939 url(../img/icon/slider-right-arrow.png) no-Repeat 0 0;width: 42px;height: 43px;margin-left: 0;margin-top: -21px;-webkit-transition: background 0.1s linear;-moz-transition: color, background 0.1s linear;-o-transition: color, background 0.1s linear;transition: color, background 0.1s linear;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);/*增加阴影*//*
	**打开注释，按钮变成圆形的
	border-radius: 20px;  所有角都使用半径为5px的圆角，此属性为CSS3标准属性 
	-moz-border-radius: 20px;  Mozilla浏览器的私有属性 
	-webkit-border-radius: 20px;  Webkit浏览器的私有属性 
	border-radius: 20px 20px 20px 20px; 四个半径值分别是左上角、右上角、右下角和左下角 
	*/}
.tp-bullets.tp-thumbs {z-index: 100;position: absolute;padding: 3px;background-color: #fff;width: 500px;height: 50px;margin-top: -50px;}
.fullwidthbanner-container .tp-thumbs {padding: 3px;}
.tp-bullets.tp-thumbs .tp-mask {width: 500px;height: 50px;overflow: hidden;position: relative;}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {width: 5000px;position: absolute;}
.tp-bullets.tp-thumbs .bullet {width: 100px;height: 50px;cursor: pointer;overflow: hidden;background: none; margin: 0;float: left;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";/*filter: alpha(opacity=50);	*/-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;}
.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-moz-opacity: 1;-khtml-opacity: 1;opacity: 1;}
.tp-thumbs img {width: 100%;}
.tp-bannertimer {width: 100%;height: 10px;position: absolute;z-index: 200;z-index: 5000;}
.tp-bannertimer.tp-bottom {bottom: 0px !important;height: 5px;}
@media only screen and (min-width: 768px) and (max-width: 959px) {;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {.responsive .tp-bullets.tp-thumbs {width: 300px !important;height: 30px !important;}.responsive .tp-bullets.tp-thumbs .tp-mask {width: 300px !important;height: 30px !important;}.responsive .tp-bullets.tp-thumbs .bullet {width: 60px !important;height: 30px !important;}}
@media only screen and (min-width: 0px) and (max-width: 479px) {.responsive .tp-bullets {display: none;}.responsive .tparrows {display: none;}}
.tp-simpleresponsive img {-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-o-user-select: none;}
.tp-simpleresponsive a {text-decoration: none;}
.tp-simpleresponsive ul {list-style: none;padding: 0;margin: 0;}
.tp-simpleresponsive >ul >li {list-stye: none;position: absolute;visibility: hidden;}
.caption.slidelink a div,
.tp-caption.slidelink a div {width: 10000px;height: 10000px;}
.tp-loader {background: url(../img/icon/loader.gif) no-repeat 10px 10px;background-color: #fff;margin: -22px -22px;top: 50%;left: 50%;z-index: 10000;position: absolute;width: 44px;height: 44px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
/*主体*/
.Mainbody {margin:15px 0;}
.Mainbody2 {margin:15px 0;}
.Mainbody .g-main {margin: auto;width: 1170px;}
.g-main #About {padding-top: 70px;padding-bottom: 70px}
#Ab_text .Ab_text {text-align: center;height: 50px;font-size: 22px;line-height: 50px;font-weight: bolder;color: #D79E67;}
#Ab_text .Ab_bottom {height:50px;line-height:50px;text-align:center;margin-top:15px;}
#Ab_text .Ab_bottom a {border: 2px dashed #000;height: 50px;display: block;width: 200px;margin: auto;font-size:14px;}
#Ab_text .Ab_bottom a:hover{border: 2px dashed #C30;color: #FFF;background-color: #C30;}

.mendi-container {clear: both;position: relative;margin-top: 15px;margin-right: auto;margin-bottom: 25px;margin-left: auto; height:278px;}
.hvr-float {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.mendi-col25 {width: 290px; }
body:nth-of-type(1) .mendi-col25 {width: 289px; }
.mendi-col_25 {width: 25%;}
.mendi-col25:hover .mendi-icon-holder{margin-top: -15px;background-color: #C30D23;}
.mendi-icon-with-title {width: 100%;margin: 0;padding-top: 0;}
.mendi-icon-with-title .mendi-icon-holder {background-color: #0B7393;width: 110px;height: 110px;}
.mendi-icon-with-title .mendi-icon-holder {border-radius: 50%;text-align: center;}
.mendi-icon-with-title .mendi-icon-holder {border: 10px solid #E2E2E2;;width: 100px;height: 100px;display: inline-block;margin-bottom: 40px;position: relative;-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-o-transition: all 300ms linear;-ms-transition: all 300ms linear;transition: all 300ms linear;}
.mendi-icon-with-title .mendi-icon-holder i {line-height: 90px;}
.mendi-icon-with-title .mendi-icon-holder i {color: #ffffff;line-height: 80px;font-size: 26px;position: relative;z-index: 1;}
.fa {display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.mendi-icon-with-title h6 {font-size:18px;position: relative;margin-bottom: 40px; }
.mendi-icon-text-holder p {line-height: 20px;padding-right: 10px;padding-left: 10px;}
.mendi-row-fw {width: 100%;min-width:1170px;position: relative;margin: 80px 0;clear: both;display: block;}
.mendi-bg-dark {background-color: #051f27;height: 387px;}
.mendi-col50{width:50%;display:inline-table;}
.mendi-fw-parallax-image1 {background: url(../img/business-image1.jpg) center center no-repeat;background-size: cover;}
.mendi-col-fw-box {padding: 100px 40px;width: 100%;box-sizing: border-box;}
.aligncenter {display: block;margin-right: auto;margin-left: auto;text-align: center;}
.light-text{color: #ffffff;}
.mendi-heading.center {text-align: center;}
.mendi-heading {clear: both;}
.mendi-fullwidth-info-text .mendi-heading h2 {font-size: 34px;font-weight: normal;margin-bottom: 45px;}
.mendi-fullwidth-info-text a {height: 25px;width: 120px;font-size: 14px;font-weight: bold;color: #FFF;margin: auto;margin-top:15px;display:block;}
.mendi-fullwidth-info-text a:hover{color: #fd2f2f;}
.mendi-fullwidth-info-text p {margin: 0;}
.mendi-custom-para {font-size: 15px;line-height: 26px;}
.mendi-heading.no-border h2{font-weight: normal;margin-bottom: 30px;font-size: 36px;}
.mendi-heading h2 span{font-weight: 600;color:#fd2f2f;}
.mendi-portfolio-holder {clear: both;width: 100%;margin: 20px 0 0;}
.mendi-portfolio-item{width:25%;}
.mendi-portfolio-item figure {position: relative;overflow: hidden;}
.mendi-portfolio-item figure img {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);-webkit-transition: all 0.35s ease-in-out;-moz-transition: all 0.35s ease-in-out;transition: all 0.35s ease-in-out;}
.mendi-portfolio-item figure img {-ms-interpolation-mode: bicubic;border: 0;height: auto;max-width: 100%;vertical-align: middle;}
.mendi-portfolio-item figure figcaption{background: rgba(5, 31, 39, 1);}
.mendi-portfolio-item figure figcaption {-webkit-transition: all 0.35s ease-in-out;-moz-transition: all 0.35s ease-in-out;transition: all 0.35s ease-in-out;}
.mendi-portfolio-item figure figcaption {display:none;position: absolute;top: 0;bottom: 0;left: 0;right: 0;text-align: center;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
figcaption{-ms-word-wrap: break-word;word-wrap: break-word;}
.mendi-portfolio-item figure figcaption .fig-overlay {height: 146px;margin: auto;bottom: 0;top: 0;position: absolute;width: 100%;}
.mendi-portfolio-item figure figcaption h6 {color: #ffffff;font-size: 14px;text-transform: uppercase;position: relative;letter-spacing: 0.5px;margin: 0 10px 5px;padding: 50px 0 0;}
.mendi-portfolio-item figure figcaption p {color: #ffffff;font-size: 11px;padding: 0;margin: 0 10px;}
.mendi-portfolio-item figure figcaption .fig-overlay a{color:#FFF;}
.mendi-portfolio-item figure:hover figcaption{display:block;}
.client-item {height: 80px;}
.client-item .mendi-col_25 {overflow:hidden;height: 80px;}
/*关于我们*/
.mendi-title-bg-5 {background: url(../img/title-bg5.jpg) left 70% no-repeat;}
.mendi-title-overlay { position: relative;}
.mendi-title-holder {width: 100%;clear: both;color: #ffffff;padding: 65px 0;text-align: center;}
.mendi-title-holder h1 {color: #ffffff;font-weight: 800;letter-spacing: 0.5px;line-height: normal;margin: 0;text-transform: uppercase;position: relative;font-size:38px;}
.mendi-big-intro-text {font-size: 20px;line-height: 50px;font-weight: 300;color:#000;margin: 0;}
.aligncenter {display: block;margin-right: auto;margin-left: auto;text-align: center;}
.FZHD {font-size: 16px;margin-top: 15px;padding-bottom: 40px;border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #BABABA;}
.g-Ab_text {text-align:left;margin-top: 25px;margin-bottom: 25px;color: #000;}
.Utop {font-size: 16px;color: #FFF;}
.C_tag {padding-right: 10px;padding-bottom: 5px;display:inline-table;}
.tips {color:#C30;font-size:14px;margin-top: 15px;}
/*产品*/
.g-main .g-Product_top {color:#000;text-align: center;}
#portfolio * {z-index: 2;}
.portfolio-filters {list-style: outside none none;margin-bottom: 30px;padding: 0;}
.portfolio-filters li.active {background-color: #292929;border-color: #000000;color: #fff;}
.portfolio-filters li {border: 3px solid #000000;cursor: pointer;display: inline-block;margin-bottom: 10px;margin-right: 5px;padding: 10px 16px;text-transform: uppercase;}
.portfolio-filters li:hover{border-top-width: 0px;border-bottom-width: 0px;}
.g-Product_in .P_in_item {width: 290px;position: relative;padding-left: 10px;padding-right: 10px;margin-bottom: 20px;display:inline-table;}
.g-main .g-Product_in {text-align:left;}
.image-wrapper {position: relative;height: 180px;overflow: hidden;background: #000;}
.image-wrapper img {height: auto;width: 100% !important;}
.img-responsive{display: block;max-width: 100%;height: auto;}
.g-Product_in .P_in_item .portfolio-caption {margin: 0 auto;padding: 15px;text-align: center;background-color: #fff;}
.g-Product_in .P_in_item .portfolio-caption h4 {margin: 0;text-transform: none;font-size: 18px;font-weight: 900;line-height: 18px;}
.g-Product_in .P_in_item .portfolio-caption p {margin: 0;font-size: 14px;line-height:25px;margin-top:10px;}
.text-muted {color: #777;}
.g-Product_in .P_in_item:hover .portfolio-caption{  background-color: #292F38; color:#FFF;}
.g-main .P_text_top {text-align:left;margin-top:10px;line-height:20px;}
.P_text_top i {padding: 0 5px;}
.P_text_top i a span{padding:0 10px 0 0;}
.P_text_top i a:hover{color:#C30D23;}
.g-main .P_text_title {margin-top:10px;text-align:left;color:#333;margin-bottom:10px;}
.P_text_title .tect_title {width: 1170px;height: 55px;line-height: 55px;background: #fff;position: relative;z-index: 98;}
.P_text_title .P_text_fenye {margin-bottom:50px;}
.P_text_title .P_text_fenye ul {height: 46px;line-height:46px;}
.P_text_title .tect_title_in {background-color: #FFF;padding:10px;}
.P_text_title .tect_title_in img{max-width:1150px;}
.P_text_title .P_text_fenye ul .p-left{float:left}
.P_text_title .P_text_fenye ul .p-in{margin: auto;width: 200px;height:42px;line-height:42px;  padding-left: 55px;background-color: #C30D23;border: 2px solid #000;}
.P_text_title .P_text_fenye ul .p-right{float:right}
.P_text_title .P_text_fenye ul li a {width: 46px;height: 46px;display: block;}
.P_text_title .P_text_fenye ul .p-left a {background: url(../img/icon/btn1.gif) no-repeat;}
.P_text_title .P_text_fenye ul .p-right a {background: url(../img/icon/btn2.gif) no-repeat;}
.P_text_title .P_text_fenye ul .p-left a:hover,.P_text_title .P_text_fenye ul .p-right a:hover{background-position: 0px -46px;}
.P_text_title .P_text_fenye ul .p-in a{width:auto;  display: block;color: #FFF;padding-left: 35px; font-size: 14px;}
.P_text_title .P_text_fenye ul .p-in i {height: 30px;position: absolute;margin-top: 5px; margin-left: -35px;display: inline-table;width: 30px;background-image: url(../img/icon/kf.png);}
.P_text_title .tect_title h2 {width: 582px;font-size: 30px;font-family: '微软雅黑';color: #000;display: block;float: left;padding-left: 20px;white-space: nowrap;overflow: hidden;font-style: normal;font-weight: normal;}
blockquote {border-left: 0 solid #eee;font-size: 17.5px;padding: 0;background-color: #FFF;margin-top: 15px;margin-right: 0;margin-bottom: 50px;margin-left: 0;}
.blockquote-inner {background: url("../img/icon/q1.png") no-repeat scroll 15px 15px transparent;border: 1px solid #e0e0e0;padding: 48px 60px 20px;font-size: 14px;font-style: italic;font-weight: 700;line-height: 29px;font-style: normal;font-weight: normal;}
.blockquote-shadow {background-color: #000000;border-color: transparent;border-style: none;box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);height: 2px;margin-bottom: -1px;position: relative;top: -1px;z-index: 98;bottom: 0;}
.tect_title p {float:right;margin-left:15px;margin-right:15px;color:#C30D23;}
/*新闻动态*/
.g-main .g-news_list {text-align:left;color:#000;}
.g-news_list .news_item {width: 48%;display: inline-table;margin-top: 0;margin-right: 0.9%;margin-bottom: 30px;margin-left: 0.9%;border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #dadada;}
article.news_list-post {box-sizing: border-box;display: inline-block;position: relative;width: 100%;}
.news_text {line-height: 25px;height:50px;overflow:hidden;}
.news_list-post figure {float: left;margin-bottom: 20px;max-height: 180px;overflow: hidden;position: relative;width: 100%;padding-left: 100px;}
figure {margin: 0;}
.news_list-post header {display: inline-block;margin-bottom: 15px;width: 100%;background: none;}
.news_list-post header h3 {box-sizing: border-box;display: inline-block;margin: 0;padding: 0;position: relative;width: 100%;font-size: 18px;font-weight: 800;line-height: 22px;}
.news_list-post .date {border: 2px solid #000000;left: 0;position: absolute;top: 0;width: 80px;height: 80px;}
.news_list-post .date span.day {color: #000000;font-size: 32px;line-height: 38px;font-weight: bold;}
.news_list-post .date span {float: left;line-height: 30px;text-align: center;width: 100%;}
.news_list-post .date span.month {font-size: 14px;line-height: 28px;font-weight: bold;letter-spacing: 2px;text-transform: uppercase;}
.news_list-post .likes {border: 2px solid #000000;left: 0;position: absolute;top: 100px;width: 80px;height: 80px;}
.news_list-post .likes span {float: left;text-align: center;width: 100%;color: #000000;font-weight: bold;}
.news_list-post .likes span .fa {font-size: 18px;line-height: 38px;margin-top: 10px;}
.news_list-post .likes span.month {letter-spacing: 2px;text-transform: uppercase;}
.news_list-post > p {margin-bottom: 30px;font-size: 14px;line-height: 1.75;}
.read_btn .btn {line-height:20px;cursor: pointer;display: inline-block;margin-bottom: 0;vertical-align: middle;white-space: nowrap;border: 3px solid #292929;border-radius: 0;font-size: 16px;font-weight: 900;color: #292929;background-color: transparent;padding: 10px 20px !important;}
.read_btn .btn:hover{background-color: #C30D23;color:#FFF;}
/*联系我们*/
.g-main .g-Contact {margin-bottom: 60px !important; text-align:left; color:#000;}
.g-Contact .IdCON {width: 30%;}
.g-Contact .IdCONtext {float: right;width: 65%;height: 77px;}
.IdCON .section-header-wrapper {text-align: left;max-width: 320px;margin-left: 13px;}
.IdCON .section-header-wrapper .skew-neg {border-color: #000000;border-style: solid;border-width: 0 5px 0 5px;-webkit-transform: skew(-15deg);-moz-transform: skew(-15deg);-o-transform: skew(-15deg);}
.IdCON .section-header-wrapper .skew-pos {-webkit-transform: skew(15deg);-moz-transform: skew(15deg);-o-transform: skew(15deg);}
.IdCON .section-subheading {font-size: 16px;line-height: 19px;font-weight: 500;padding-left: 20px;padding-top: 10px;margin: 0;}
.IdCON .section-heading {margin-top: 0;margin-bottom: 15px;font-size: 32px;line-height: 38px;font-weight: 800;padding-left: 20px;padding-bottom: 10px;}
.IdCONtext p {line-height: 25px;}
.g-Contact .contact_add {margin-top: 45px;border: 3px solid #000;}
.g-Contact .g-main.T_xuqiu .T_xqbk #T_xqbk_right a i {background-image: url(../img/icon/kf.png);}
.g-Contact .contact_FORM {margin-top: 50px;}
.contact_FORM .C_F_left {width: 58%;display: inline-table;background-color: #FFF;padding:1%;}
.C_F_left .F_left_top{margin-bottom:10px;}
.C_F_left .F_left_top h2 {font-size: 18px;color: #292f38;font-weight: normal;}
.C_F_left .F_list ul li {line-height:40px;font-size:14px;margin-bottom:10px;}
.C_F_left .F_list ul li textarea {width: 330px;height: 137px;display:inline-table;border: 1px solid #d2d4d4;line-height: 28px;padding: 2px 0 0 2px;margin-top: 10px;margin-left:5px;}
.C_F_left .F_list form ul li .inpText {float:left;width: 390px;height:25px;padding:0 5px;margin-left:6px;display:inline-table;margin-top: 7px;}
.C_F_left .F_list form ul li em {color: #F00;font-size:18px;padding-left:5px;}
.F_list form ul li div {width: 50%;margin:30px 0;display:inline-table;text-align:center;}
.F_list form ul li div a{color: #000;font-size: 18px;display: block;width: 200px;margin: auto;padding: 10px;border: 2px solid #292f38;}
.F_list form ul li div a:hover{background-color: #C30D23; color:#FFF;}
.F_list form ul li span {width: 330px;display:inline-table;line-height: 30px;}
.F_list form ul li span i {width: 150px;display:inline-block;padding-left: 2px;padding: 0;line-height: 30px;}
.F_list form ul li .yzm {line-height: 22px;width: 100px;padding-left: 6px;display:inline-table;}
.C_F_left .F_list ul li label{width:150px;display:inline-table; text-align:right; float:left;}
.contact_FORM .C_F_right {width: 35%;margin-left:4%;display:inline-table;}
.F_right .logo {text-align:center;}
.F_right ul li {line-height: 25px;font-size:14px;margin-bottom:15px;}
.F_right ul li label {width: 30%;margin-right: 10px;display:inline-table;text-align:right;}
.F_right ul li img {width: 200px;}
.F_right ul li p {width:65%;display:inline-table;}
.F_right ul li .zx_kft {height: 50px;padding-left: 40%;background-color: #C30D23;font-size: 18px;line-height: 50px;}
.F_right ul li .zx_kft a {display: block;color: #FFF;padding-left: 35px;}
.F_right ul li a {color: #C20C22;}
.F_right ul li .zx_kft a i {height: 30px;position: absolute;margin-top: 10px;margin-left: -35px;display: inline-table;width: 30px;background-image: url(../img/icon/kf.png);}
@-moz-document url-prefix() { 
.F_right ul li .zx_kft a i {height: 30px;position: absolute;margin-top: 10px;margin-left: 100px;display: inline-table;width: 30px;background-image: url(../img/icon/kf.png);}
}
.F_right h2 {margin-top: 15px;line-height: 25px;font-weight: normal;text-align: center;font-size: 16px;border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #dadada;padding-bottom:15px;margin-bottom:15px;}
