/* CSS Document */
body { pedding: 0; margin: 0; font-family: "Microsoft YaHei"; background: #fff; font-size: 14px; margin: 0; padding: 0; }
a{ text-decoration: none; }
i{font-style:normal;}
ul, li, h1, h2, h3, h4, h5, h6{ padding: 0; margin: 0; list-style: none;}
.entxt{ font-family:Century Gothic;}
.nav{height:100px; width:100%; background-color:#FFF; color:#363d34; border:solid 1px red; margin:0;}
.nav img{ margin:14px auto auto 390px; float:left;}
.navMenu{width:1000px; margin-left:390px;}
.nav a{margin:10px; font-family:microsoft YaHei; font-size:16px; }
.banner{height:270px; width:100%;}
.crumbs{height:120px; width:100%;}
