body { margin: 0; padding: 0; font-size: 14px; font-family: 'microsoft yahei'; }
.entxt{ font-family:Century Gothic;}
a { text-decoration: none; }
ul, li, dt, dl, dd, h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; }
.ifont{font-style: normal;}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { *zoom:1;
}
*{ box-sizing: border-box
}
.fl{ float:left}
.fr{ float:right;}
.num { font-family: Arial }
.txtleft { text-align: left }
.txtright { text-align: right }
.txtcenter { text-align: center }
.tsl{ font-weight:100;}
.green { color: #26a039; }
.bgcolor{background-color:#26a039;}
.gary4 { color: #444}
.gary6 { color: #666 }
.gary9 { color: #999 }
.yellow{color:#fe760a}
.mgt50{ margin-top: 50px;}
.mgb50{ margin-bottom:50px;}
.b { font-weight: 700; }
.s { font-weight: 400; }
.f14 { font-size: 14px; }
.f14a { font-size: 14px; font-weight: normal;}
.f16 { font-size: 16px; font-weight: normal;}
.f18 { font-size: 18px; line-height:34px;}
.f18a { font-size: 18px; font-weight: normal;}
.f18b{font-size:18px;font-weight:lighter;}
.f20 { font-size: 20px; line-height:40px;}
.f20a { font-size: 20px; font-weight: normal;}
.f20b { font-size: 20px; font-weight: bold;}

.f24 { font-size: 24px; font-weight:normal;}
.f24a { font-size: 24px; font-weight:lighter;}

.f30 { font-size: 30px; font-weight:lighter;}
.f34 { font-size: 34px; font-weight:lighter;}
.f40{font-size:40px; font-weight:lighter;}
.f60 {font-size: 60px; font-weight:normal;}
.littleTitle{font-size:30px; font-weight: lighter; margin-top:20px !important;}
.col{ color:#fff;}
.l{list-style:none;}
.min{min-width:1200px;}

.layout { width: 1200px; margin: 0 auto;}
.pdb10 { padding-bottom: 10px; }
.banner { width: 100%; height: 580px; background: #f6f6f6 }
#owl-demo { width: 900px; margin-left: auto; margin-right: auto; }
#owl-demo .item { display: block; }
#owl-demo img { display: block; width: 100%; }
.header .top { background: #26a039; height: 30px; width: 100%;min-width:1200px; line-height: 30px; color: #fff; }
.header .top a { line-height: 30px;  color: #fff; }
.header .top img{ margin: auto; display: block; vertical-align: middle; margin-top: 2px;}
.header .middle { height: 100px; width: 100%; }
.header .middle .logo { float: left; height: 86px; padding-top: 14px; width: 300px; }
.header .middle .logo img { width: 180px; height: auto; }
.header .middle .menu { width: 800px; height: 100px; line-height: 100px; text-align: right; float: right }
.header .middle .menu a { padding: 4px 10px; font-size: 16px; color: #444; }
.header .middle .detail a{color: #fff;}
.header .middle .menu a.on {color: #26a039;  }
.detail .header .middle .menu a.on { color: #26a039;}
.header .middle .menu a:hover { color: #26a039;  }
.header .middle .detail  a:hover {color: #26a039;  }
/*--.header .middle .menu a.on:hover { background: #07941d; color: #fff;  }*/
.indextitle { text-align: center; padding: 70px 0 50px 0; }
.indextitle h2 { font-size: 34px; font-weight: 100;  color: #26a039;  line-height: 60px;}
.indextitle h4 { font-size: 20px; font-weight: 400; color: #999; }
.about .info { background: url(../images/about-bg.png) top center no-repeat; height: 280px;padding-bottom:400px; padding-top:70px; }
.about .info .left, .about .info .right { width: 472px; float: left }
.about .info .center { width: 250px; text-align: center; float: left }
.about .info dt { font-size: 20px; margin-top: 24px; }
.about img{padding-top:40px;}
.wenhua { background: #f4f4fa; width: 100%; padding-bottom: 40px; border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; }
.wenhua .t4 .col1 { width: 220px; text-align: center; margin: 0 40px; float: left }
.wenhua .t4 .col1 { width: 220px; text-align: center; margin: 0 40px; float: left }
.wenhua .t4 .col1 h4 { font-size: 24px; font-weight: 100; line-height: 20px; padding-top: 20px; }
.wenhua .t4 .col1 h4 span { font-size: 16px; font-weight: 400; }
.wenhua .t4 .col1 p { line-height: 24px; }
.shop { padding-bottom: 40px; }
.shop .owl-wrapper-outer { padding: 10px; margin: -10px; }
.shop .owl-item .item { padding: 40px 0 60px 0; position: relative; overflow: hidden; box-shadow: 0 0 0 rgba(0,0,0,0.2); cursor: pointer; transition: 0.3s; }
.shop .owl-item .item .goodsimg { position: relative; width: 200px; height: 200px; display: block; margin: 0 auto; margin-bottom: 10px; overflow: hidden }
.shop .owl-item .item .goodsimg img { width: 200px; height: 200px; }
.shop .owl-item .item .goodsimg .code { width: 200px; height: 200px; position: absolute; top: -200px; left: 0; transition: 0.5s; }
.shop .owl-item .item .price { font-size: 18px; color: #26a039; font-weight: 700; line-height: 30px; }
.shop .owl-item .item h6 { font-size: 14px; color: #333; font-weight: 400; padding:0 20px; box-sizing:border-box; line-height:20px; height:20px; overflow:hidden; overflow:hidden }
.shop .owl-item .item .wx { display: block; background: #26a039; color: #fff; line-height: 38px; position: absolute; bottom: -38px; width: 100%; transition: 0.5s; }
.shop .owl-item .item:hover { box-shadow: 0 0 10px rgba(0,0,0,0.2); transition: 0.3s; }
.shop .owl-item .item:hover .wx { background: #26a039; color: #fff; line-height: 38px; position: absolute; bottom: 0; width: 100%; transition: 0.5s; }
.shop .owl-item .item:hover .goodsimg .code { top: 0px; transition: 0.5s; }
.area { background: #f6f6f6; width: 100%; border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; }
.area .img { width: 50%; float: left; background-position: right top; background-repeat: no-repeat; height: 480px; }
.area .info { width: 50%; *width:49%;
float: left; }
.area .info .title { margin-top: 50px; border-bottom: 1px solid #ededed; padding: 0 0 20px 50px; }
.area .info .title h2 { font-size: 34px; line-height: 40px; }
.area .info .title h6 { line-height: 30px; }
.area .info .content { width: 500px; margin-left: 50px; line-height: 30px; color: #666; padding: 10px 0 }
.area .info a { padding: 10px 30px; background: #26a039; float: left; color: #fff; margin-top: 10px; font-size: 16px; margin-left: 50px; transition: 0.3s; }
.area .info a:hover { background: #07941d; transition: 0.3s; }
.footer { background: #26a039; color: #fff; }
.footer li { list-style: none; width: 25%; float: left; padding: 30px 0; border-bottom: 1px solid #b5da97; text-align: center; }
.footer li img { float: left }
.footer li span { float: left; line-height: 22px; padding: 10px 0 0 10px; }
.footer li span strong { font-size: 18px; font-weight: 100; display: block; line-height: 28px; }
.footer li .bd { width: 138px; height: 138px; padding: 8px 0 0 8px; display: block; text-align: center; background: #26a039; }
.footer li .bd img { width: 130px; height: 130px; }
.footer .item li { border: none; text-align: left }
.footer .item li h6 { font-size: 18px; display: block; color: #fff; line-height: 40px; }
.footer .item li a { font-size: 14px; display: block; color: #fff; line-height: 30px; }
.footer .info{ text-align: center; line-height: 30px; font-size: 14px; padding: 40px 0}
/*内页*/
.page .banner,.listpage .banner { height: 260px; overflow: hidden; background-position: center center; background-repeat: no-repeat; text-align: center }

.page .banner img,.listpage .banner img { margin-top: 40px; }
.page .info,.listpage .info { font-size: 14px; line-height: 28px; color: #666; min-height:400px; }
/*子栏目内页*/
.listpage .sub .nav{ width:199px; float:left; border-right:1px solid #e0e0e0; margin-top:50px;}
.listpage .sub .nav li{ display:block; list-style:none; padding-left:20px; font-size:16px; border-bottom:1px solid #e0e0e0; line-height:40px;}
.listpage .sub .nav li a{ display:block; color:#666}
.listpage .sub .nav li.title{ line-height:50px; background:#14a161; color:#fff; font-weight:700;}
.listpage .sub .info{ width:850px; float:right; padding:20px 0 50px 50px;}
.listpage .sub .info h2{ font-size:34px; border-bottom:1px solid #e0e0e0; line-height:100px; }
.subbanner,.subbanner1,.subbanner2,.subbanner3{ height:460px; overflow:hidden; background-position: top center;min-width: 1200px;}
.subbanner3{height:500px;}

.crumbs{ height:100px; line-height:100px; min-width: 1200px;}
.crumbs2{ background-color:rgba(244,244,247,0.8); }
.crumbs h4{ display:inline-block; float:left; font-size:24px; color:#444}
.crumbs span.tsl{ display:inline-block; float:left;color:#999; font-size:20px; padding-top:12px; line-height:80px;}
.crumbs .road a{ color:#666;}
.crumbs .road{ color:#999}
.banner1{ background:#f4f4f7; height:220px; line-height:220px; min-width:1200px;width: 100%;}
.banner1 h2{ font-size:60px; font-weight:400; width:720px;}
.banner1 .subtt{ width:310px; font-size:24px; line-height:30px; padding-top:82px; text-align:center;}
.banner1 .code{ padding-top:24px; line-height:none; height:200px; text-align:right; width:170px;}
.wbox{ padding:60px 0;}
.wbox .info{padding-top:40px;}
h4.title { line-height:44px; font-size:30px;}
 h6.title{ line-height:30px; font-size:24px;}
.info{ line-height:34px;}
.box4{ height:600px;}
.rebox{padding:0 !important;}
.box4 .list{width:70%;margin:0 auto;}
.box4 .item{ width:24.5%; text-align:center; float:left; margin-top:40px;}
.box4 .item h4{ font-size:20px; line-height:60px; color:#666}
.box4 .item img{width:145px;hieght:145px;}
.marbox4{padding-top:60px;}


/*关于我们*/

.yunshu{ height:500px; min-width:1200px; background: center center no-repeat; overflow:hidden}
.yunshu .wtbox{ width:40%; background:rgba(255,255,255,0.8); height:500px; text-align:right; position:relative; box-shadow:0 0 20px rgba(0,0,0,0.07)}
.yunshu .wtbox i{ text-align:center; border-radius:80px; width:160px; height:160px; position:absolute; right:-80px; top:170px;background:#fff;}
.yunshu .wtbox i img{ width:auto; height:100px; margin:30px auto}
.yunshu .wtbox .info{ width:300px; float:right; margin-right:100px; margin-top:100px;}


.yunshu .wtbox p{ width:300px; font-size:16px; text-indent:2em;}
.app{ height:600px; min-width:1200px; padding-top:60px;}
.app .info{ width:770px; float:left; text-align:right; padding-top:130px;}
.app .info .ms{ border-bottom:1px solid #e0e0e0; border-top:1px solid #e0e0e0;margin-top:20px;}
.app .list{ width:400px; float:right;}
.app .list .item{ height:120px; padding:10px 0;}
.app .list .item i{ width:100px; height:100px; padding-top:14px; float:left; text-align:center; display:block;}
.app .list .item .txt{ text-align:left; font-size:16px; line-height:20px; color:#999; padding-top:22px;}
.app .list .item .txt strong{ font-size:20px; display:block; line-height:30px; font-weight:400; color:#444}
.app .info h6.num{ font-size:20px; font-weight:400}
.box14{ background:top center no-repeat; padding:150px 0}
.box14 .wtbg{background:rgba(0,0,0,0.6);  height:400px;}
.box14 .item{ width:262px; text-align:center;  color:#fff; float:left;margin:60px 18px;;}
.box14 .item h4.title{ line-height:40px;}
.box14 .item h6{ font-size:16px; border-bottom:1px solid rgba(255,255,255,0.4); padding-bottom:20px;}
.box4{ text-align:center; padding:60px 0;}
.box4 p{ width:1000px; margin:20px auto}


/* 经营理念*/
.resolve{ background-color:#fff; text-align:center; align:center;}
.wra{ margin:74px 0; min-width:1200px;}
.line{border-bottom:solid 1px #dcdcdc; border-top:solid 1px #dcdcdc;width:1200px; height:auto; margin:0 auto; margin-top:40px;}
.line p{margin:20px 0;}
.wratit{width:760px;margin:0 auto;}
.icontit{float:left;}


.bpban2{min-width:1200px;background:url(../imgs/bg.jpg) top center no-repeat;height:580px;}
.bp2left{background:rgba(38,160,57,0.8);width:52.5%;height:536px;margin-left:20px 0 20px 20px;padding:102px 70px 0 0;float: left;margin:22px 0 0 20px;}
.icontit2{float:right;margin:4px 0 0 6px;}

.bpban2 p{line-height:34px;}
.bticon{width:362px;float:right;margin-top:20px;}
.pot{width:92px;height:92px;border-radius: 200px;background:rgba(38,160,57,1);margin:0 14px;float:left;}
.pot img{margin:16px 30px 0 32px;}
.pot h6{margin:6px 28px 0 32px;}
/*.bp2right{background:url(../imgs/bg.jpg) center center no-repeat;height:580px;width:900px;margin-left: 52%;}*/

.sg{background:#fff;padding:130px;}

.sgright{margin:0 auto;width:1000px;}
.icontit3{float:left;margin:4px 0 0 0;}
.wratit3 {margin-left:360px;}
.wratit3 img{margin-right:6px;}
.security{width:120px; height:120px; border:solid 1px #e5e5e5;padding:20px;float:left;margin:94px 20px 0 20px;}
.security h6{margin:4px;}
.linegreen,.lineyellow{height:2px;width:20px;background:#93c01f;margin:0 auto;}
.lineyellow{background:#f2c900;}
.sgright p{line-height:34px;}

.ms1{background:url(../imgs/ms3.jpg) top center no-repeat;height:600px;padding:65px 0;}
.mscontent{background:rgba(255,255,255,0.94);height:470px;padding:100px;}
.mscontent p{line-height:34px;float:left;margin:20px 30px;width:400px;text-align: justify;}
.mscontent1{width:92%;margin:0 auto;}
.wratit4{margin:0 70px 0 0;}
.icontit4{float:left;margin:8px 8px 0 0;}


/* 我们的优势*/
.b1{  padding:100px 0; min-width: 1200px;}
.b1 p,.b2 p,.b3 p{margin-top:40px;}
.icon{ height:100px;width:33%;display:block; float:left; }
.icontxt{font-weight:normal; margin-top:10px;}
.wraa{width:500px; margin:0 auto; height:100px; margin-top:80px;}

.b2{ height:540px; background: url(../imgs/youshibanner3.jpg) top center no-repeat;}
.bwra{ height:540px;background:rgba(0,0,0,0.6);padding:100px 0;}
.con1{margin:0 auto;width:100%;}
.lay{float:left; width:100%;}
.iconlist1{width:1200px; list-style: none;margin:0 auto; margin-top:34px;}
.iconlist1 li{width:25%;height:50px;float:left;text-align: center;margin-top:14px; }
.iconlist1 img{float:left;margin-left:54px;}
.iconlist1 span{line-height:42px;float:left;margin-left:10px;}

.b3{ padding:100px 0; min-width: 1200px;height:520px;}
.b3 ul{width:1200px; margin:0 auto;}
.b3 li{list-style: none;height:100px;width:50%;float:left; margin-top:30px;}
.b3 img{float:left; margin-left:20px;}
.sys{ padding-top:10px;}
.exp{margin-top:-10px}
.b3 span{line-height:90px;border-bottom:solid 1px #e5e5e5;border-top:solid 1px #e5e5e5;padding:20px 0;}



/* 营销模式 */
.ban1{padding:100px 0;}
.mwra{width:1200px;margin:0 auto;min-width:1200px;height:390px;}
.leftimg{float:left;}
.rightcontent{width:440px;position:absolute;margin:40px 700px;}
.middban{min-width: 1200px;background:url(../imgs/moshi_middle.jpg) center no-repeat;min-width:1200px;}
.minddwra{width:1200px;height:200px;margin:0 auto;}
.minddwra img{float:left;margin-top:24px;margin-left:100px;}
.minddwra h4{margin-left:20px;padding-top:60px;padding-right:20px;float:left;}
.minddwra h6{padding-left:250px;padding-top:70px;}

.ban2{height:580px;}
.ban2 p{margin-top:70px;}
.ban2 .layout{padding-top:100px;}
.ban2wra{width:1200px;height:350px;margin:160px auto;}
.box3 img{float:right;}
.box3 h4,.box3 h6{margin-right:100px;line-height:40px;}
.box3 p{padding-top:170px;}
.box3 .item{ margin: 0 30px; border-bottom: 1px solid #e0e0e0;}

.ban3{height:700px;background: url(../imgs/banner12.jpg) center no-repeat;min-width: 1200px;}
.ban3con{width:1200px; height:630px;margin:0 auto;padding-top:140px;}
.ban3span1{width:400px;height:300px;float:left;padding-top:80px;}
.ban3 h4,.ban3 h6,.ban3 p{width:380px;}
.opa3{height:430px; width:780px; background-color:rgb(255,255,255);margin-left:420px;opacity: 0.85;padding-top:20px;padding-left:100px;}
.list1{margin:40px 0;}
.list1 h6{width:auto; padding-top:10px;}
.list1 img{float:left;margin:10px 40px;}

/*合作基地*/
.ban4,.ban5{min-width: 1200px;border-bottom:solid 1px #fff;}
.ban4p{padding:70px 0 ;}
.list2{width:25%;float:left;}
.list3{width:33%;float:left;}
.ban4p ul{width:540px; margin:40px auto 34px; height:94px;}
.baseti{width:340px !important;}
.ban4 h6{margin:0 0 40px 0;}
.basewra{height:600px; background-color:rgba(0,0,0,0.5); padding-top:140px;}
.basewra p{line-height: 30px;}
.basewra .main{margin:40px auto 50px;padding:10px;float:left;margin:0 20px;}
.address{border-top:solid 1px rgba(255,255,255,0.1);border-bottom:solid 1px rgba(255,255,255,0.1);width:780px;height:46px;margin:0  auto;line-height: 46px; margin-top:50px;}
.conmar{overflow: hidden;}
/* 基地详情*/

.subbanner2{height:600px;}
.detailheader{background:rgba(255,255,255,0.8);box-shadow: 0 3px 8px rgba(0,0,0,0.1);}
.bgmask{height:300px;filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #33000000, endColorstr = #00000000);    /*IE 6 7 8*/ 
background: -ms-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));        /* IE 10 */
background:-moz-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0)));/*谷歌*/ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0)));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));  /*Opera 11.10+*/

} 
.detailcon{height:1000px;padding:0 100px;}
.detailtitle{padding-top:70px;}
.decon{line-height: 36px;margin-top:60px;text-indent: 2em;}


/* 联系我们*/

.map {height:800px;z-index: 8;}
.opa7{background:rgba(255,255,255,0.9)!important;position: absolute;z-index: 11;top:-220px;}


.yuanjing {background:rgba(38,160,57,0.9);}
.yuanjing1 {height:260px; background: url(../imgs/icon/contactus1.png) left no-repeat; background-position:30px 10px;background-size:240px 240px;}
.yjtop {padding:60px 0 6px 0;	}
/*.yjp {padding-top:30px;	}*/
.yjicon {margin:50px 0 0 50px; float:left;}
.contact {height:200px;margin-left:730px;padding-top:40px;}
.left1 {float:left;width:700px;	}
.add {padding:12px 54px 12px 22px;background-color: rgba(255,255,255,0.8); margin:0 14px;position:absolute;height:46px;width:192px;}

.add2{width:auto; padding:12px 20px 12px 22px;}
.contacti {float:left;}
.contact1 {height:46px;width:200px;margin-top:10px;}

/* 商城*/
.mall{}
.mallbg{background:#fafafa;}
.mallban1{margin:80px auto; padding:30px 0 10px 0; width:1200px;}
.mallwra{margin:0 auto;width:600px;margin-bottom:14px;}
.mallwra img{margin-left:100px;}
.mallbanicon{float:left;margin-right:10px;}
.malltitle{width:520px;height:33px;line-height:33px;}
.ban1con p{line-height:36px;}
.mallban1 h6{margin-bottom:40px;}
.mallban2{height:500px;background: url(../imgs/banner5.jpg)center no-repeat; float:left;width:100%;}
.mallban2 .banner1,.banner2{background-color: rgba(0,0,0,0.00); padding-top:40px;position:relative;}
.crufl{position:absolute;top:130px;width:100%;background-color:rgba(255,255,255,0.88);box-shadow: 0 3px 8px rgba(0,0,0,0.1);z-index: 9;}
.dis{width:100%;margin-top:160px;position: absolute; }

.lay1,.lay2{height:490px;width:280px;margin:0 10px; float:left;position:relative;}
.lay2{overflow: hidden;}
.hb{width:100%; text-align: center;height:490px;background: #FFF;overflow: hidden;position: absolute; transition:0.3s;}
.lay1:hover .hb{width:360px;height:580px; margin-left: -30px;margin-top:-42px;box-shadow: 0 0 20px rgba(102,102,102,0.1); transition: 0.3s;}

.lay1:hover .hb{z-index: 3;}

.radius{-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.radius1{-webkit-border-radius: 8px 8px 0 0 ;-moz-border-radius: 8px 8px 0 0;border-radius:8px 8px 0 0;}
.shadow{-webkit-box-shadow: rgba(102,102,102,0.08) 0px 0px 10px;-moz-box-shadow: rgba(102,102,102,0.08) 0px 0px 10px;box-shadow: rgba(102,102,102,0.08) 0px 0px 10px;}

.product,.product2{height:280px;width:280px;background-position:center center; background-repeat: no-repeat; background-size: cover;transition:0.3s}
.lay1:hover .product{width:360px;height:360px;transition:0.3s;}
.erweima{width:280px;height:280px;position:absolute; top: 0;background-position:top center; background-repeat: no-repeat; background-size:280px 280px;transition: 0.3s; margin: 0 auto; margin-top:-280px;}
.lay1:hover .erweima{width:360px;height:360px; background-size:360px 360px; margin-top: 0; }
.lay1:hover .erweima,.lay2:hover .erweima2{top: 0px; transition: 0.3s;}

.lay2:hover{box-shadow: 0 0 20px rgba(102,102,102,0.16);}


.lay1 .hb h4.b2title{ padding: 0 20px; font-size: 14px; line-height: 20px;max-height: 40px; overflow: hidden; color: #999}



.form1{margin:0 20px;height:40px;line-height:40px; text-align:left; background: #f2f2f2; border-radius: 50px; display: inline-block; padding-right: 20px;}
.form1 img{height:40px;width:40px;border-radius:40px;line-height:40px;float: left; margin-right: 10px;}
.jidiname1{height:40px;line-height:40px;border-radius: 40px;padding:0px 16px 0px 46px; background:#f4f4f4;overflow: hidden;z-index: 1;display:block;position:relative;top:12px;left:-20px;}


.erweima2{width:220px;height:220px;position:absolute;background-position:top center;top:-220px; background-repeat: no-repeat; background-size:220px 220px;transition: 0.3s;}
.b2title1{margin-top:14px;}

.b2title2{margin-top:10px; padding: 0 10px; text-align: center;position: relative; line-height: 20px; height: 40px;}
.lay1:hover .b2title2{top:-40px;}
.price,.price2{padding:10px 20px;}

.form{margin:0 auto;height:64px;width:220px;line-height:64px;}
.hb .form{ width: auto; display: inline-block; height: 50px; line-height: 50px;}
.form img{height:40px;width:40px;border-radius:40px;line-height:40px;position:relative;z-index: 2;top:10px;float: left;left:20px;}
.hb .form img{ left: 10px; height:30px;width:30px;border-radius:30px; float: none;}
.jidiname{height:40px;line-height:40px;border-radius: 40px;padding:0px 16px 0px 38px; background:#f4f4f4;overflow: hidden;z-index: 1;display:block;position:relative;top:10px;left:-20px;}
.hb .jidiname{max-width: 180px; height:30px;line-height:30px;border-radius:30px;font-size: 14px; display: inline-block;}
.jptj{min-width:1200px;padding:40px 0;}
.lay2{width:220px;height:360px;margin:10px 10px;border: 1px solid #f2f2f2;cursor: pointer}
.product2{height:220px;width:220px;}
.price2{padding:0 20px; text-align: center}
.jptjdis{margin-top:60px;}
.mallb{margin-top:60px;}
.bannerg{background:#26a039;margin-top:280px;}

.classify h4{border-bottom:solid 1px #f4f4f7;padding:10px;letter-spacing:10px;}

.classifynav li{float:left;padding:10px 44px;}
.classifynav img{width:80px;}
.classify .layout{margin:0 auto;border-bottom:solid 1px #f4f4f7;}
.classifynav a{color:#666;}
.classifynav li:hover h6{color:#26a039;}
.classifynav li:on h6{color:#26a039;border-bottom:solid 1px #26a039;}
.classifynav li:hover {border-bottom:solid 1px #26a039;}
.select_on{border-bottom:solid 1px #26a039;}
.select_on h6{color:#26a039;}
.page{ text-align: center; margin: 30px auto; font-size: 16px; color: #666}
.page a, .page span{ padding: 4px 10px; border-radius: 2px; background: #e0e0e0; display: inline-block;color: #666; margin: 0 2px;}
.page span{ background-color: #26a039 ; color: #fff}











